table.basic-table
  width 100%
  background-color $gray
  font-size 12px

  thead tr td
    padding 8px 0
    font-size 14px

  tbody td
    padding 6px 0
    border-top 1px solid $lgray

  tbody tr:hover td
    background-color $dgray
    cursor pointer
    cursor hand

  td:first-child
    padding-left 8px

  td:last-child
    padding-right 8px