#controlbar
  width 280px
  background-color $purple
  color white
  padding-top 16px
  float left

  #company-name
    background-color $dpurple
    text-align center
    padding 4px 0
    display block
    margin-bottom 16px

  a
    color white
    display block

    .submenu

      display none

      li
        padding 5px 8px 5px 64px
        font-size 12px
        background-color $bpurple

  ul li
    display block
    font-size 14px
    padding 10px 14px
    line-height 20px

    i
      margin-right 10px

  ul lihover, .active
    background-color $dpurple !important
