.dialog-page

  .spacer-top, .spacer-bot, .dialog
    width 100%

  .spacer-top
    height 256px
    border-bottom 1px solid $dgray

  .spacer-bot
    border-top 1px solid $dgray

  .dialog
    margin 0 auto
    background-color $gray
    padding 16px 0
    border-top 1px solid #363636
    border-bottom 1px solid #363636

    h3
      color white
      text-align center
      margin-bottom 16px

    form
     width 256px
     margin 0 auto