.dialog-page

  .spacer-top, .spacer-bot, .dialog
    width 100%

  .spacer-top
    height 256px
    border-bottom 1px solid $dgray

  .spacer-bot
    border-top 1px solid $dgray

    .error, .recovery
      text-align center
      display block

    // Error message
    .error
      color $lred
      margin-top 8px

    // Link to account recovery
    .recovery
      color $blue
      margin-top 16px
      font-size 12px

  .dialog
    margin 0 auto
    background-color $gray
    padding 16px 0
    border-top 1px solid #363636
    border-bottom 1px solid #363636

    // Page header
    h3
      color white
      text-align center
      margin-bottom 16px

    form
     width 256px
     margin 0 auto