input
  border none
  padding 8px
  margin 0
  width 250px

inputfocus
  border 4px solid $blue
  margin -4px
  outline 0

button
  border none
  height 32px
  margin-left 8px
  color white
  background-color $dpurple

buttonhover
  background-color $purple
button.cancel
  background-color $grey color $purple
button.cancelhover
  background-color $bbpurple color white
