$overlayZIndex 1000
$modalZIndex 1001

#overlay
  background-color rgba(0, 0, 0, 0.8)
  position absolute
  top 0
  left 0
  z-index $overlayZIndex
  opacity 0
  display none

  #overlay-modal
    opacity 0
    display none
    z-index $modalZIndex

    border-left 16px solid $purple
    border-right 16px solid $purple

    padding 16px
    background-color $dblue
