.inner(ng-if="action == 'pending'")
  .funds.center(style="text-align: center")
    .amount.large Please wait...
    .desc Processing

.inner(ng-if="action == 'unknown'")
  .funds.center(style="text-align: center")
    .amount.large Unknown transaction
    .desc Redirecting...

.inner(ng-if="action == 'confirm'")
  .funds.center(style="text-align: center")
    .amount.large Deposited ${{ paymentData.amount }}
    .desc Redirecting...

.inner(ng-if="action == 'cancel'")
  .funds.center(style="text-align: center")
    .amount.large Deposit cancelled
    .desc Redirecting...
