daemonize yes

pidfile /var/run/redis_{{ redis_port }}.pid
port {{ redis_port }}
bind 127.0.0.1 {% for ip in ansible_all_ipv4_addresses %}{{ ip }} {% endfor %}

timeout 0
tcp-keepalive 0

loglevel notice
logfile "/var/log/redis/{{ redis_port }}.log"

databases 16

# Dump file
# <seconds> <changes>
save 360 1
save 120 10
save 60 1000

stop-writes-on-bgsave-error no

rdbcompression yes
rdbchecksum yes
dbfilename dump-main.rdb

dir /var/lib/redis

# Security
rename-command CONFIG ""
rename-command FLUSHALL ""
rename-command FLUSHDB ""

# Append-only mode (we don't use it, but just in case)
appendonly no
appendfilename "appendonly-main.aof"
appendfsync everysec

no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
