build/
public/

node_modules/
npm-debug.log

.vagrant
.ssh/
*.pyc
.idea/
.DS_Store

naught.log
stderr.log
stdout.log

src/client/static/components

testResults.xml
provisioning/roles/production/files/env_vars.sh
cron.log

setup_admin.js
setup_adefy.js
setup_cris_ports.sh
