.titlebar.cf.full(ng-controller="AdefyNewsMenuController")
  i.fa.fa-fw.fa-inbox
  .name News
  .menu.full
    a(ng-href="/news" tab)
      i.fa.fa-fw.fa-home
      | Home
    a(ng-href="/news/{{latest.id}}" tab)
      i.fa.fa-fw.fa-bell
      | Latest

    //- Not sure this is really useful
    //- a(ng-href="/news/{{oldest.id}}" tab)
      i.fa.fa-fw.fa-level-down
      | Oldest
