.inner: form(novalidate ng-class="{ submitted: submitted }")
  dl.form.center
    dt
      label Title
    dd: input(required ng-model="formObject.title" type="text")

    dt
      label Summary
      span Displayed on the User dashboard, instead of the entire news Text
    dd: input(ng-model="formObject.summary" type="text" placeholder="Optional summary")

    dt
      label Text
      span The body of this News Article
    dd: textarea(required ng-model="formObject.text" style="width: 100%; height: 240px")
