!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Login

    meta(name="description", content="")
    meta(name="author", content="Spectrum IT")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto|Oleo+Script|")
    link(rel="stylesheet", href="/css/style.css")

  body#page-login
    .row
      .col-lg-offset-4.col-lg-4
        .well
          legend Login
          form.form-horizontal(method="post", action="/login")

            if locals.error
              .alert.alert-warning= locals.error

            .form-group
              label(for="username").col-lg-3 Username
              .col-lg-9
                input.form-control(name="username", type="text", placeholder="Enter username")

            .form-group
              label(for="password").col-lg-3 Password
              .col-lg-9
                input.form-control(name="password", type="password", placeholder="Enter password")

            .form-group
              .col-lg-offset-3
                .col-lg-9
                  button(type="submit").btn.btn-primary Sign In
                  a(href="/register").btn.btn-default Register

            if locals.error
              .help-block
                a(href="/recover").recovery Having trouble?
