!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Sign In

    meta(name="description", content="")
    meta(name="author", content="Spectrum IT")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="/css/vendor/bootstrap.css")
    link(rel="stylesheet", href="/css/vendor/bootstrap-overrides.css")

    link(rel="stylesheet", href="/css/theme/layout.min.css")
    link(rel="stylesheet", href="/css/theme/elements.min.css")
    link(rel="stylesheet", href="/css/theme/icons.min.css")
    link(rel="stylesheet", href="/css/theme/signin.min.css")

    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Oleo+Script|")

    | <!--[if lt IE 9]>
    |   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->

  body#page-login
    .header
      a(href="/") Adefy

    .login-wrapper
      form.box(method="post", action="/login")
        .content-wrap
          h6 Sign In

          if locals.error
            .alert.alert-warning= locals.error

          input.form-control(type="text", name="username", placeholder="Username")
          input.form-control(type="password", name="password", placeholder="Password")
          .action
            button(type="submit").btn-glow.primary.signin Sign In

      if locals.error
        .already
          a(href="/recover").recovery Having trouble?

