doctype html
html(lang="en" ng-app="AdefyLogin")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title Login

    meta(name="description" content="")
    meta(name="author" content="Spectrum IT")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    link(rel="stylesheet" href="/css/styles.min.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Oleo+Script|Source+Sans+Pro:300,400")

  body.account-page(ng-controller="AdefyLoginController")
    .main
      header.absolute
        #logo Adefy

    .container
      #subtitle.block.tcenter Login
      #teaser.block.tcenter(ng-bind="teaser")
      #description.block.tcenter Enter your credentials to continue

    .container.small
      form
        .info-box
          .left
            .inner
          .text Credentials
          .right
            .inner

        br

        label Username
        input(type="text" placeholder="Username" ng-model="username")

        label Password
        input(type="password" placeholder="Password" ng-model="password" ng-keypress="enterSubmit($event)")

    .container.small
      button#main-button(type="button" ng-click="login()")
        div#main-icon
        | Login
      div(ng-if="error != null" ng-class="{ error: error != null }" ng-bind="error")

    #bottom-action
      a(href="/register") Need to Register?

    footer
      script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js")
      script(src="/js/login/login.js")
