doctype html
html(lang="en" ng-app="AdefyRegister")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title Register

    meta(name="description" content="")
    meta(name="author" content="Spectrum IT")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    link(rel="stylesheet" href="/css/styles.min.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Oleo+Script|Source+Sans+Pro:300,400")

    | <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    | <![endif]-->

  body.account-page.relative(ng-controller="AdefyRegisterController")
    .main
      header.absolute
        #logo Adefy

    .container
      #subtitle.block.tcenter Registration
      #teaser.block.tcenter Welcome to Adefy
      #description.block.tcenter Enter your details to get started

      form(ng-class="{ submitted: submitted }" name="registerForm")
        .info-box
          .left
            .inner
          .text Main info
          .right
            .inner

        label Username *
        input(required type="text" ng-model="username")

        .w50
          label Password *
          input(required type="password" ng-model="password")

        .w50.right
          label Re-enter password *
          input(required type="password" ng-model="confirm")

        .w50
          label First name
          input(type="text" ng-model="fname")

        .w50.right
          label Last name
          input(type="text" ng-model="lname")

        label Email *
        input(required type="email" ng-model="email" ng-keypress="enterSubmit($event)")

        .info-box.deep
          .left
            .inner
          .text Company Info
          .right
            .inner

        label Company name
        input(type="text" ng-model="company" ng-keypress="enterSubmit($event)")

        .w50
          label Phone number
          input(type="tel" ng-model="phone" ng-keypress="enterSubmit($event)")

        .w50.right
          label VAT number
          input(type="text" ng-model="vat" ng-keypress="enterSubmit($event)")

    .container
      div(ng-if="error != null" ng-class="{ error: error != null }" ng-bind="error")
      button#main-button(type="button" ng-click="register()")
        div#main-icon
        | Register

    #bottom-action
      a(href="/login") Need to Login?

    footer
      script(src="/components/angular/angular.min.js")
      script(src="/js/controllers/register/register.js")
