.nav-header.four-cols: ul
  a(href="/marketplace/history" tab): li
    i.fa.fa-fw.fa-archive
    | History
  a(href="/marketplace/pending" tab): li
    i.fa.fa-fw.fa-calendar-o
    | Pending Deals
  a(href="/marketplace/active" tab): li
    i.fa.fa-fw.fa-bullhorn
    | Active Deals
  a(href="/marketplace/messages" tab): li
    i.fa.fa-fw.fa-inbox
    | Messages
