.overlay
  .modal-wrap
    .modal-cell
      .modal
        .header {{ title }}
        .content
          div(ng-include="template")
        .actions
          .error(ng-bind="formObject.errorMessage" ng-if="formObject.errorMessage")
          .info(ng-bind="formObject.infoMessage" ng-if="formObject.infoMessage")
          button(ng-click="close()") Close
          button.blue(ng-click="submit()" ng-disabled="formObject.disabled") {{ okButtonText }}
          button(ng-click="delete()" ng-if="deleteButtonText.length > 0" ng-disabled="formObject.disabled") {{ deleteButtonText }}
