#pad-wrapper
  div(data-ng-if="mode == \"listing\" || mode == \"details\"")
    .row.header
      .col-md-3
        h3 Campaigns
      .col-md-3(data-ng-if="campaigns.length == 0")
        .alert.alert-success
          | No campaigns? 
          a.alert-link(data-ng-click="createCampaign()") Create one!

    .table-wrapper.section
      .row
        table.table.table-striped.table-hover
          thead
            tr
              th Name
              th Status
              th Pricing
              th Total Budget
              th Daily Budget
              th Avg. CPC
              th Impressions
              th Conversions
              th CTR
              th Cost
              th Action
          tbody
            tr(data-ng-repeat="(i, campaign) in campaigns", data-ng-click="viewCampaign({{ i }})")
              td(data-ng-bind="campaign.name")
              td
                span.label(data-ng-bind="campaign.statusText", data-ng-class="campaign.statusClass")

              td
                | {{ campaign.pricing | uppercase }}
              td
                | $ {{ campaign.totalBudget | number:2 }}
              td
                | $ {{ campaign.dailyBudget | number:2 }}
              td
                | $ {{ campaign.avgCPC | number:2 }}

              td(data-ng-bind="campaign.impressions")
              td(data-ng-bind="campaign.clicks")

              td
                | {{ campaign.ctr | number:2 }}%
              td
                | $ {{ campaign.spent | number:2 }}

              td
                a.btn.btn-flat.success.btn-sm(data-ng-if="campaign.status == 1 || campaign.status == 3") Start
                a.btn.btn-flat.gray.btn-sm(data-ng-if="campaign.status == 2") Pause
                a.btn.btn-flat.primary.btn-sm(data-ng-click="viewCampaign({{ i }})") View / Edit
                a.btn.btn-flat.danger.btn-sm(data-ng-click="deleteCampaign({{ i }})") Delete

    .row.section
      button.btn-flat.success(type="button", data-ng-click="createCampaign()")
        span &#43; 
        |  New Campaign

  div(data-ng-if="mode == \"details\"")
    .separator
    .row.header
      .col-md-12
        h3 Campaign Details

  div(data-ng-if="mode == \"new\"")
    .col-md-8.with-sidebar
      .row.header
        h3 New Campaign

      .row
        #fuelux-wizard.wizard.row

          ul.wizard-steps
            li(data-target="#step1").active
              span.step 1
              span.title Information
            li(data-target="#step2")
              span.step 2
              span.title Bidding
            li(data-target="#step3")
              span.step 3
              span.title Targeting

        .step-content
          #step1.step-pane.active
            .row.form-wrapper
              .col-md-12
                form
                  .field-box(data-ng-class="{ error: !validation.name.valid }")
                    label Name
                    .col-md-7
                      input.form-control(type="text", placeholder="Enter a name for your campaign", data-ng-model="campaign.name", required="required")
                    .col-md-7(data-ng-show="!validation.name.valid")
                      .alert-msg(data-ng-bind="validation.name.error")
                  .field-box
                    label Description (optional)
                    .col-md-5
                      textarea.form-control(row="16", col="4", data-ng-model="campaign.description")
                  .field-box
                    label Category
                    .col-md-7
                      .ui-select.wide
                        select.wide(data-ng-model="campaign.category", required="required")
                          option(data-ng-repeat="(i, cat) in categories", value="{{ i }}", data-ng-bind="cat")

          #step2.step-pane
            .row.form-wrapper
              .col-md-12
                form

                  .field-box(data-ng-class="{ error: !validation.pricing.valid }")
                    label Pricing
                    .col-md-7
                      .ui-select
                        select(data-ng-model="campaign.pricing", required="required")
                          option(selected="selected", value="cpm") CPM
                          option(value="cpc") CPC
                    .col-md-7(data-ng-show="!validation.pricing.valid")
                      .alert-msg(data-ng-bind="validation.pricing.error")

                  .field-box(data-ng-class="{ error: !validation.budgetTotal.valid }")
                    label Total Budget
                    .col-md-7
                      .predefined
                        span.value $
                        input.form-control.inline-input(type="text", placeholder="(min $25)", data-ng-model="campaign.budgetTotal", required="required")
                    .col-md-7(data-ng-show="!validation.budgetTotal.valid")
                      .alert-msg(data-ng-bind="validation.budgetTotal.error")

                  .field-box(data-ng-class="{ error: !validation.budgetDaily.valid }")
                    label Daily Budget (optional)
                    .col-md-7
                      .predefined
                        span.value $
                        input.form-control.inline-input(type="text", data-ng-model="campaign.budgetDaily")
                    .col-md-7(data-ng-show="!validation.budgetDaily.valid")
                      .alert-msg(data-ng-bind="validation.budgetDaily.error")

                  .field-box
                    label Bid System
                    .col-md-7
                      .ui-select
                        select(data-ng-model="campaign.system", required="required")
                          option(selected="selected", value="auto") Automatic
                          option(value="manual") Manual

                  .field-box(data-ng-if="campaign.system == \"manual\"", data-ng-model="campaign.system", data-ng-class="{ error: !validation.bid.valid }")
                    label Bid
                    .col-md-7
                      .predefined
                        span.value $
                        input.form-control.inline-input(type="text", placeholder="(min ${{ minPricings[campaign.pricing] }})", data-ng-model="campaign.bid")
                    .col-md-7(data-ng-show="!validation.bid.valid")
                      .alert-msg(data-ng-bind="validation.bid.error")

                  .field-box(data-ng-if="campaign.system == \"auto\"", data-ng-class="{ error: !validation.bidMax.valid }")
                    label Maximum bid
                    .col-md-7
                      .predefined
                        span.value $
                        input.form-control.inline-input(type="text", placeholder="(min ${{ minPricings[campaign.pricing] }})", data-ng-model="campaign.bidMax")
                    .col-md-7(data-ng-show="!validation.bidMax.valid")
                      .alert-msg(data-ng-bind="validation.bidMax.error")

          #step3.step-pane
            .row.form-wrapper
              .col-md-12
                form
                  .field-box
                    label Geographical Targeting
                    .col-md-3
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tcountry", checked="checked", value="all", data-ng-model="select2Filters.tcountry")
                        | All Countries
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tcountry", value="specific", data-ng-model="select2Filters.tcountry")
                        | Specific Countries
                      div(data-ng-class="{ hidden: select2Filters.tcountry != \"specific\" }")
                        select#select2Country(multiple="multiple", style="width:250px")
                          option(value="0")
                          option(value="1") cat 1
                          option(value="2") cat 2
                          option(value="3") cat 3
                          option(value="4") cat 4
                          option(value="5") cat 5
                          option(value="6") cat 6

                  .field-box
                    label Network Targeting
                    .col-md-3
                      label.radio
                        .radio
                          span
                            input(type="radio", name="target_traffic", checked="checked")
                        | All Traffic
                      label.radio
                        .radio
                          span
                            input(type="radio", name="target_traffic")
                        | Mobile Data Traffic
                      label.radio
                        .radio
                          span
                            input(type="radio", name="target_traffic")
                        | Wifi Traffic

                  .field-box
                    label Platform Targeting
                    .col-md-3
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tplatform", checked="checked", value="all", data-ng-model="select2Filters.tplatform")
                        | All Platforms
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tplatform", value="specific", data-ng-model="select2Filters.tplatform")
                        | Specific Platforms
                      div(data-ng-class="{ hidden: select2Filters.tplatform != \"specific\" }")
                        select#select2Platform(multiple="multiple", style="width:250px")
                          option(value="0")
                          option(value="1") plat 1
                          option(value="2") plat 2
                          option(value="3") plat 3
                          option(value="4") plat 4
                          option(value="5") plat 5
                          option(value="6") plat 6

                  .field-box
                    label Device Targeting
                    .col-md-5
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tdevice", checked="checked", data-ng-model="select2Filters.tdevice", value="all")
                        | All Devices
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tdevice", data-ng-model="select2Filters.tdevice", value="specific")
                        | Specific Devices
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tdevice", data-ng-model="select2Filters.tdevice", value="exclude")
                        | Exclude Devices
                      div(data-ng-class="{ hidden: select2Filters.tdevice != \"specific\" && select2Filters.tdevice != \"exclude\" }")
                        select#select2Device(multiple="multiple", style="width:250px")
                          option(value="0")
                          option(value="1") devi 1
                          option(value="2") devi 2
                          option(value="3") devi 3
                          option(value="4") devi 4
                          option(value="5") devi 5
                          option(value="6") devi 6

                    .col-md-5
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tmanufacturer", checked="checked", data-ng-model="select2Filters.tmanufacturer", value="all")
                        | All Manufacturers
                      label.radio
                        .radio
                          span
                            input(type="radio", name="tmanufacturer", data-ng-model="select2Filters.tmanufacturer", value="specific")
                        | Specific Manufacturers
                      div(data-ng-class="{ hidden: select2Filters.tmanufacturer != \"specific\" }")
                        select#select2Manufacturer(multiple="multiple", style="width:250px")
                          option(value="0")
                          option(value="1") manu 1
                          option(value="2") manu 2
                          option(value="3") manu 3
                          option(value="4") manu 4
                          option(value="5") manu 5
                          option(value="6") manu 6

                  .field-box
                    label Scheduling
                    .col-md-9
                      label.radio
                        .radio
                          span
                            input(type="radio", name="target_schedule", checked="checked")
                        | No Scheduling
                      label.radio
                        .radio
                          span
                            input(type="radio", name="target_schedule")
                        | Custom Scheduling

          .wizard-actions
            .col-md-4
              button.btn-flat.white(type="button", data-ng-click="cancelCampaign()") Cancel
              button.btn-flat.primary.btn-prev(type="button", disabled="disabled")
                i.icon-chevron-left 
                | Prev
              button.btn-flat.primary.btn-next(type="button", data-last="Finish")
                | Next 
                i.icon-chevron-right
              button.btn-flat.success.btn-finish(type="button", data-ng-click="createCampaignSubmit()") Create Campaign
            .col-md-3(data-ng-if="createCampaignError.length > 0")
              .alert.alert-danger(data-ng-bind="createCampaignError")

    .col-md-4.form-sidebar
      .row.header
        .col-md-12
          h3 Information

      .row
        .col-md-12
          h5 Describe your campaign, setup targeting and select an ad unit. The name, category, pricing, and total budget are permanent once set, whereas the other options can be modified later. You can set budget, bid, and targeting options both on a per-campaign and a per-ad basis.
          br
          h5 Bid system settings are a bit special, in that you may alter them for specific targeting options. As an example, you may choose to run one of your ads with our automatic bidding system and a max bid of $0.50, and switch to manual bidding with a bid of $1.00 every monday between 1pm and 5pm in Germany.

      br

      .row
        .col-md-12
          h4 Manual Bidding
          h5 We select ads to fill inventory by running an internal round of bidding. The ad that best matches the target and wins the bidding is delivered. The final bid is often lower than the maximum bid the ad may place, as our network selects the lowest bid possible to fill the space. Manual bidding offers you fine-grain control over your bidding; you need to set a campaign-wide bid, which is used for all ads within that campaign, at which point you may set specific bids for each individual ad unit.

      br

      .row
        .col-md-12
          h4 Automatic Bidding
          h5 Our automatic bidding system selects the optimal bid for your budget and campaign length. You set the maximum bid our system may place, and we do the rest. Note that you can modify bid system selection and system settings on a very specific per-target basis.