.grid-options
  a.new-item(form-modal template="/views/dashboard/ads:new" title="Create ad"
        ok-button-text="Save" form-submit="create()" form-object="adForm" close="closeForm")
      i.fa.fa-plus
      | New ad

  .sort(ng-if="ads.length > 2")
    p Sorting
    i.fa.fa-caret-down(ng-click="sort.direction = false" ng-if="sort.direction")
    i.fa.fa-caret-up(ng-click="sort.direction = true" ng-if="!sort.direction")
    select(ui-select2 ng-model="sort.metric")
      option(value="stats.ctr") CTR
      option(value="name") Name
      option(value="stats.impressions") Impressions

.contents.w920.center(ng-if="ads == null || ads.length == 0")
  h2.loading Loading Ads

ul.list.ad-list(ng-if="ads")
  li(ng-repeat="ad in ads | orderBy:sort.metric:sort.direction" ng-if="!ad.tutorial || (ad.tutorial && me.tutorials.ads)")
    a.ad(ng-href="/ads/{{ ad.id }}" data-id="{{ ad.id }}" ng-class="{ tutorial: ad.tutorial }")

      div.icon.noimage(ng-if="ad.getIcon() == null")
      img.icon(ng-if="ad.getIcon() != null" ng-src="{{ ad.getIcon() }}")

      .name(ng-bind="ad.name")

      .label.blue(ng-if="ad.tutorial") Example

      span(ng-if="!ad.tutorial && ad.status == 2" style="margin-top: 4px; display: inline-block; vertical-align: top")
        .label.green(ng-if="ad.getNativeStatus() != 'missing'") Native Creative
        .label.green(ng-if="ad.getOrganicStatus() != 'missing'") Organic Creative

      span(ng-switch="ad.status" ng-if="!ad.tutorial")
        .label.gray(ng-switch-when="0") Pending Approval
        .label.red(ng-switch-when="1") Rejected

      .edit: i.fa.fa-wrench

    table.campaigns
      tr(ng-repeat="campaign in ad.campaigns")
        th {{ campaign.name }}
        td
          .amount {{ campaign.campaign.stats.ctr | number:2 }}%
          .desc CTR
        td
          .amount ▲ {{ campaign.campaign.stats.impressions | number }}
          .desc Impressions
        td
          .amount ▲ {{ campaign.campaign.stats.clicks | number }}
          .desc Clicks
        td
          .amount $ {{ campaign.campaign.stats.spent | number:2 }}
          .desc Spent
