.grid-options.new-ad

  a.new-item(form-modal template="/views/dashboard/ads:new" title="Create ad"
        ok-button-text="Save" form-submit="create()" form-object="adForm" close="closeForm")
    i.fa.fa-plus
    | New ad

  .sort(ng-if="ads.length > 2")
    p Sorting
    i.fa.fa-caret-down(ng-click="sort.direction = false" ng-if="sort.direction")
    i.fa.fa-caret-up(ng-click="sort.direction = true" ng-if="!sort.direction")
    select(ui-select2 ng-model="sort.metric")
      option(value="stats.ctr") CTR
      option(value="name") Name
      option(value="stats.impressions") Impressions

ul.list.ad-list(ng-if="ads")
  li(ng-repeat="ad in ads | orderBy:sort.metric:sort.direction" ng-if="!ad.tutorial || (ad.tutorial && me.tutorials.ads)")
    a.ad(ng-href="/ads/{{ ad.id }}" data-id="{{ ad.id }}" ng-class="{ tutorial: ad.tutorial }")

      div.icon.noimage(ng-if="!ad.data.creative")
      img.icon(ng-if="ad.data.creative" ng-src="{{ ad.data.creative.image }}")

      .name(ng-bind="ad.name")
      .label.blue(ng-if="ad.tutorial") Example

      span(ng-switch="ad.status" ng-if="ad.data.creative")
        .label.gray(ng-switch-when="0") Pending Approval
        .label.red(ng-switch-when="1") Rejected

      .label.orange(ng-if="ad.status != 2 && (!ad.data || !ad.data.creative)") No Creative

      .edit: i.fa.fa-wrench

    table.campaigns
      tr(ng-repeat="campaign in ad.campaigns")
        th {{ campaign.name }}
        td
          .amount {{ campaign.stats.ctr | number:2 }}%
          .desc CTR
        td
          .amount ▲ {{ campaign.stats.impressions | number }}
          .desc Impressions
        td
          .amount ▲ {{ campaign.stats.clicks | number }}
          .desc Clicks
        td
          .amount $ {{ campaign.stats.spent | number:2 }}
          .desc Spent
