.new-ad
  a.new-item(form-modal template="/views/dashboard/ads:new" title="Create ad"
        ok-button-text="Save" form-submit="create()" form-object="adForm" close="closeForm")
    i.fa.fa-plus
    | New ad
ul.list(ng-if="ads")
  li(ng-repeat="ad in ads")
    a.ad(ng-href="/ads/{{ad.id}}")
      .name(ng-bind="ad.name")

      span(ng-switch="ad.status")
        .label.gray(ng-switch-when="0") Pending Approval
        .label.red(ng-switch-when="1") Rejected
        .label.green(ng-switch-when="2") Approved

      .edit: i.fa.fa-wrench

    table.campaigns
      tr(ng-repeat="campaign in ad.campaigns")
        th {{ campaign.name }}
        td
          .amount {{ campaign.stats.ctr | number:2 }}%
          .desc CTR
        td
          .amount ▲ {{ campaign.stats.impressions | number }}
          .desc Impressions
        td
          .amount ▲ {{ campaign.stats.clicks | number }}
          .desc Clicks
        td
          .amount $ {{ campaign.stats.spent | number:2 }}
          .desc Spent
