include _menu

.inner
  form(novalidate ng-class="{ submitted: submitted }")
    fieldset: dl.form.center
      legend Push Notification

      p Here you can configure the content of the push notification users receive after requesting a reminder for your ad.
      br

      dt: label Title
      dd: input(required ng-model="ad.pushTitle" type="text" placeholder="Enter a catchy title")

      dt
        label URL
        span To link to a play store entry, use a URL of the form market://details?id=com....
      dd: input(required ng-model="ad.url" type="text" placeholder="http://.... or market://details?id=com....")

      dt: label Description
      dd: input(required ng-model="ad.pushDesc" type="text" placeholder="Enter a short description")

      dt: label Icon
      dd
        button(ng-click="pickIcon()") Upload an Icon
        br
        img(ng-if="ad.pushIcon.url" ng-src="{{ ad.pushIcon.url }}" width="64" style="margin:8px")
        img(ng-if="ad.pushIcon && !ad.pushIcon.url" ng-src="{{ ad.pushIcon }}" width="64" style="margin:8px")

      br
      br

      dt
      dd
        button.save.blue(ng-show="!saving" ng-click="save()") Save Notification
        button.save(ng-show="saving" disabled="disabled") Saving...

.contents.w480.center
  .ad-notification
    .header
      label Preview
    .preview
      .icon
        img(ng-if="ad.pushIcon.url" ng-src="{{ ad.pushIcon.url }}")
        img(ng-if="ad.pushIcon && !ad.pushIcon.url" ng-src="{{ ad.pushIcon }}")
      .info
        //-.title Test Title For Now
        //-.time {{ new Date() | date:'HH:mm' }}
        //-.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.title(ng-href="{{ ad.url }}") {{ ad.pushTitle }}
        .time {{ dateNow | date:'HH:mm' }}
        .description {{ ad.pushDesc }}
        //-.small-icon
        //-img(ng-if="ad.pushIcon.url" ng-src="{{ ad.pushIcon.url }}")
        //-img(ng-if="ad.pushIcon && !ad.pushIcon.url" ng-src="{{ ad.pushIcon }}")