include _menu

.contents.w920.center
  .stats.ad
    .stat: .wrap
      .amount.large ▲ {{ ad.stats.impressions24h | number }}
      .desc Impressions Today
    .stat: .wrap
      .amount.large ▲ {{ ad.stats.clicks24h | number }}
      .desc Clicks Today
    .stat: .wrap
      .amount.large {{ ad.stats.ctr24h | number:2 }} %
      .desc CTR Today
    .stat: .wrap
      .amount.large $ {{ ad.stats.spent24h | number:2 }}
      .desc Spent Today

.graphs
  .graph
    h3 24h Stats
    div(graph data="graphData" width="900" height="350" type="line" hover="true" legend="true")
