include stats/single

.stacked-cards

  .card.hanging-card
    a(href="/campaigns") Back

  .card-spacer Skittles Campaign

  .card: .card-inner
    .title Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284,813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24,095.24

    .info
      .info-header Publisher Deals
      .info-detail
        a(href="#") 500px
        a(href="#") Al Jazeera
        a(href="#") car2go
        a(href="#") ColorNote
        a(href="#") Runtastic

    .info
      .info-header Creatives
      .info-detail
        a(href="#") Skittles Demo

    .card-labels
      .label.green Active

  .card: .card-inner
    .title Impressions

    .info
      .info-header Last 30 days
      .info-content.green 76,342

    .info
      .info-header Lifetime
      .info-content.green 843,751

    div.noAxes(analytics data="null" width="656" height="300")

  .card: .card-inner
    .title CTR

    .info.large
      .info-header 30 day average
      .info-content.green 3.1%

    .info.large
      .info-header Lifetime average
      .info-content.green 2.7%

    div.noAxes(analytics data="null" width="656" height="300")
