include stats/today

.stacked-cards

  .card.hanging-card.bright
    a(href="#") New Campaign

  .card: .card-inner
    .title
      | Skittles
      a(href="/campaigns/skittles")
        i.fa.fa-bar-chart-o Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284,813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24,095.24

    .card-labels
      .label.green Active

  .card: .card-inner
    .title
      | Skittles
      a(href="/campaigns/skittles")
        i.fa.fa-bar-chart-o Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24095.24

    .card-labels
      .label.green Active

  .card: .card-inner
    .title
      | Skittles
      a(href="/campaigns/skittles")
        i.fa.fa-bar-chart-o Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24095.24

    .card-labels
      .label.green Active

  .card: .card-inner
    .title
      | Skittles
      a(href="/campaigns/skittles")
        i.fa.fa-bar-chart-o Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24095.24

    .card-labels
      .label.green Active

  .card: .card-inner
    .title
      | Skittles
      a(href="/campaigns/skittles")
        i.fa.fa-bar-chart-o Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24095.24

    .card-labels
      .label.green Active

  .card: .card-inner
    .title
      | Skittles
      a(href="/campaigns/skittles")
        i.fa.fa-bar-chart-o Details

    .info
      .info-header Impressions
      .info-detail.green 5,696,274

    .info
      .info-header Clicks
      .info-detail 284813

    .info
      .info-header CTR
      .info-detail 5.0%

    .info
      .info-header Spent
      .info-detail $ 24095.24

    .card-labels
      .label.green Active
