.inner: form(novalidate ng-class="{ submitted: submitted }")
  fieldset: dl.form.center
    legend Basic Information

    dt: label Name
    dd: input(required ng-model="campaign.name" type="text")

    dt: label Description
    dd: textarea(ng-model="campaign.description")

    dt: label Category
    dd#categorySelect
      select(required ng-model="campaign.category" ng-options="c for c in categories")

  fieldset: dl.form.center
    legend Bidding
    dt: label Pricing Model
    dd
      select(ui-select2 required ng-model="campaign.pricing")
        option(value="")
        option(ng-repeat="o in pricingOptions" value="{{ o }}") {{ o }}

    dt
      label Daily Budget $
      span(ng-if="campaign.dailyBudget && me.adFunds > 0") $ {{ campaign.dailyBudget | number:2 }} is enough for {{ me.adFunds / campaign.dailyBudget | number:2 }} days
    dd
      input(required ng-model="campaign.dailyBudget" min="{{ minDailyBudget }}" type="number" placeholder="min {{ minDailyBudget | currency:$ }}")

    dt: label Total Budget $ (Optional)
    dd: input(ng-model="campaign.totalBudget" type="number" min="campaign.totalBudget")

    dt
      label(ng-if="campaign.pricing == 'CPM'") Target CPM $
      label(ng-if="campaign.pricing == 'CPC'") Target CPC $
    dd
      input(required ng-if="campaign.pricing == 'CPM'" ng-model="campaign.bid" type="number" step="any" min="0")
      input(required ng-if="campaign.pricing == 'CPC'" ng-model="campaign.bid" type="number" step="any" min="0")

    dt
      label Bid System
      span Automatic bidding utilizes our smart bid client and values each impression uniquely, whereas manual bidding treats each impression identically.
    dd
      select(ui-select2 required ng-model="campaign.bidSystem")
        option(value="")
        option(ng-repeat="o in bidSysOptions" value="{{ o }}") {{ o }}

    br
    br

    dt: label Start Date (Optional)
    dd: datepicker(ng-model="campaign.startDate")

    dt: label End Date (Optional)
    dd: datepicker(ng-model="campaign.endDate")

    br
    br

    dt: label Projected Spend
    dd: label ${{ projectSpend() | number:2 }}

  fieldset: dl.form.center
    dl.form.center
    dt: span You'll be able to specify targeting details and add creatives after saving.
    dd: button.blue.save(ng-click="submit()") Save
