include _menu

.contents.w920.center.ad-reports-controls
  .graphs
    .graph.w100.reports-header
      .w33
        .block
          .w25.contents-right
            label(for="startDate") From:
          .w75.contents-left
            datepicker(ng-model="range.startDate")
      .w33
        .block
          .w25.contents-right
            label(for="endDate") Until:
          .w75.contents-left
            datepicker(ng-model="range.endDate")
      .w33
        .block
          .w50.contents-right
            label(for="sum") Sum Graphs:
          .w50.contents-left
            input(type="checkbox" name="sum" ng-model="graphSum")

.contents.w920.center(ng-if="comparisonData == null")
  h2.loading Loading comparison data...

.contents.w920.center(ng-if="comparisonData != null")

  .section Comparison
  table.info(ng-cloak ng-table="cmpTableParams")
    tr(ng-repeat="ad in $data" ng-show="!ad.tutorial")
      td(data-title="'Ad Name'" sortable="'name'")
        {{ ad.name }}
      td(data-title="'Impressions'" sortable="'impressions'")
        {{ ad.impressions | number }}
      td(data-title="'Clicks'" sortable="'clicks'")
        {{ ad.clicks | number }}
      td(data-title="'CTR'" sortable="'ctr'")
        {{ ad.ctr | number:2 }}%
      td(data-title="'Spent'" sortable="'spent'")
        {{ ad.spent | currency:$ }}

.contents.w920.center(ng-if="impressionsData == null || clicksData == null || spentData == null")
  h2.loading Loading performance data...

.contents.w920.center(ng-show="impressionsData != null && clicksData != null && spentData != null")
  .section Metric Performance
    .right.header-controls.ad-reports-controls
      select.right(ui-select2 name="interval" ng-model="graphInterval")
        option(value="")
        option(ng-repeat="i in intervalOptions" value="{{ i.val }}") {{ i.name }}

      label.right(for="interval") Graph Interval:

  div(ng-if="impressionsData != null && clicksData != null && spentData != null")
    .w50
      h6.block.tcenter Impressions
      div(analytics data="impressionsData" width="340" height="150" type="line" hover="hoverFormatNumber" legend="true")

    .w50
      h6.block.tcenter Clicks
      div(analytics data="clicksData" width="340" height="150" type="line" hover="hoverFormatNumber" legend="true")

    .block
      h6.block.tcenter Expenses
      div(analytics data="spentData" width="800" height="300" type="line" hover="hoverFormatSpent" legend="true")
