.nav-header.three-cols
  ul
    a(href="/publishers/featured" tab)
      li
        i.fa.fa-fw.fa-flash
        | Featured Publishers
    a(href="/publishers" tab)
      li
        i.fa.fa-fw.fa-search
        | Search
    a(href="/publishers/favorites" tab)
      li
        i.fa.fa-fw.fa-star
        | Favorites
