table.basic-table
  thead
    td Ads
    td
      button.create New Ad
    td
  tbody
    tr(data-ng-repeat="ad in data")
      td(data-ng-bind="ad.name")
      td
        button.edit Edit
      td
        button.delete Delete