.col-lg-2
  ul.nav.nav-pills.nav-stacked
    li
      a(data-toggle="modal", href="#newAd", target="_self") New Ad

.col-lg-8

  .col-lg-6(data-ng-if="data.length == 0")
    h1 You don't have any ads...
    button.btn.btn-primary(data-toggle="modal", href="#newAd") Create one!

  table.table.table-striped(data-ng-if="data.length > 0")
    thead
      td
        p Name
      td
      td
    tbody
      tr(data-ng-repeat="(i, ad) in data")
        td
          p(data-ng-bind="ad.name")
        td
          button.btn.btn-link Edit
        td
          button.btn.btn-danger(data-ng-click="deleteAd({{ i }})") Delete

#newAd.modal.fade
  .modal-dialog

    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close &times;
        h4.modal-title New Ad

      .modal-body
        form
          .form-group
            label(for="adName") Ad Name
            input.form-control(name="adName", type="text", placeholder="Enter a name for your ad", data-ng-model="newAdName")

      .modal-footer
        .col-lg-6(data-ng-if="newAdStatus.length > 0")
          p.text-left(data-ng-bind="newAdStatus")
        .col-lg-3(data-ng-if="newAdError.length > 0")
          .alert.alert-danger.text-left(data-ng-bind="newAdError")
        .col-lg-6.pull-right
          button(type="button", data-dismiss="modal").btn.btn-default Close
          button(type="button", data-ng-click="createAd()").btn.btn-primary Create