table.basic-table
  thead
    td Ads
    td
      button.create New Ad
    td
  tbody
    tr
      td Test Ad 1
      td
        button.edit Edit
      td
        button.delete Delete
    tr
      td Test Ad 2
      td
        button.edit Edit
      td
        button.delete Delete