#pad-wrapper
  div(data-ng-if="mode == \"listing\" || mode ==\"view\"")
    .row.header
      .col-md-3
        h3 Apps
        a.below-header(data-ng-click="addApp()", data-ng-if="apps.length == 0") No apps? Add one!

  div(data-ng-if="apps.length > 0 && (mode == \"listing\" || mode ==\"view\")")
    .table-wrapper.section
      .row
        table.table.table-striped.table-hover
          thead
            tr
              th Name
              th Status
              th Requests
              th Impressions
              th Clicks
              th CTR
              th Earnings
              th Actions
          tbody
            tr(data-ng-repeat="(i, pub) in apps", data-ng-click="viewApp({{ i }})")
              td(data-ng-bind="pub.name")

              td
                span.label(data-ng-bind="pub.statusText", data-ng-class="pub.statusClass")
                .spacer
                span.label(data-ng-bind="pub.activeText", data-ng-class="pub.activeClass")

              td(data-ng-bind="pub.requests")
              td(data-ng-bind="pub.impressions")
              td(data-ng-bind="pub.clicks")

              td
                | {{ pub.ctr | number:2 }}%
              td
                | $ {{ pub.earnings | number:2 }}

              td
                a.btn.btn-flat.success.small(data-ng-if="pub.status < 2", data-ng-click="requestApproval({{ i }})") Request Approval
                a.btn.btn-flat.success.small(data-ng-if="pub.status == 2 && pub.active == false") Enable
                a.btn.btn-flat.info.small(data-ng-if="pub.status == 2 && pub.active == true") Disable
                a.btn.btn-flat.primary.small(data-ng-click="viewApp({{ i }})") View / Edit
                a.btn.btn-flat.danger.small(data-ng-click="deleteApp({{ i }})") Delete
    .row.section
      button.btn-flat.success(type="button", data-ng-click="addApp()")
        span &#43; 
        |  New Application

  div(data-ng-if="mode == \"view\"")
    .separator
    .row.header
      .col-md-12
        h3(data-ng-bind="appView.name")
        .btn-group
          button.glow.left(data-ng-click="detailMode=\"details\"", data-ng-class="{ active: detailMode == \"details\" }") Details
          button.glow.middle(data-ng-click="detailMode=\"integration\"", data-ng-class="{ active: detailMode == \"integration\" }") Integration
          button.glow.right(data-ng-click="detailMode=\"metrics\"", data-ng-class="{ active: detailMode == \"metrics\" }") Metrics
        .btn-group
          button.btn-flat.small.primary(data-ng-click="saveApp()", data-ng-bind="saveAppText")

      br

      .col-md-12
        span.label(data-ng-bind="appView.statusText", data-ng-class="appView.statusClass")

    div(data-ng-if="detailMode == \"details\"")
      .row.section
        .col-md-12
          h4 Application Details

      br
      br

      .row.section
        .col-md-5.form-sidebar.with-sidebar
          .form-wrapper
            .container
              form
                .field-box
                  label App Name
                  .col-md-7
                    input.form-control(type="text", data-ng-model="appView.name")
                .field-box
                  label App URL
                  .col-md-7
                    input.form-control(type="text", data-ng-model="appView.url", data-ng-if="appView.status != 2")
                    input.form-control.inline-control(type="text", data-ng-model="appView.url", data-ng-if="appView.status == 2", readonly="readonly")
                .field-box
                  label App Category
                  .col-md-7
                    .ui-select(data-ng-if="appView.status != 2")
                      select(data-ng-model="appView.category", data-ng-options="cat for cat in categories")
                    input.form-control.inline-control(type="text", data-ng-model="appView.category", data-ng-if="appView.status == 2", readonly="readonly")
                .field-box
                  label Description
                  .col-md-7
                    textarea.form-control(row="16", col="4", data-ng-model="appView.description")

        .col-md-4
          div(data-ng-if="appView.status == 0")
            h4 Newly created, requires approval
            br
            h5 Until a request for approval is received and accepted, this application will be served test ads exclusively. After approval, you may disable your publication to receive test ads on demand, and may only modify the application name and description.
            br

          div(data-ng-if="appView.status == 1")
            h5.alert.alert-danger.small.tcenter Approval request rejected
            br
            h4.alert.alert-danger.small(data-ng-bind="appView.approvalMessage")
            br

          div(data-ng-if="appView.status == 2")
            h3 Approved
            br
            h4 Your publication won't receive live ads unless it is enabled. Once approved, you may enable or disable your publication freely.
            br
            button.btn.btn-flat.success(data-ng-if="appView.active == false") Enable
            button.btn.btn-flat.info(data-ng-if="appView.active == true") Disable

          div(data-ng-if="appView.status == 3")
            h4 Approval requested, awaiting confirmation

          button.btn.btn-flat.success(data-ng-if="appView.status < 2", data-ng-click="requestApproval(appViewIndex)") Request Approval


    div(data-ng-if="detailMode == \"metrics\"")
      .row.section
        .col-md-12
          h4 Application Metrics

      br
      br

  div(data-ng-if="mode == \"new\"")
    .col-md-12
      .row.header
        h3 New Application

      .row.form-wrapper
        .col-md-8.column
          .container
            form(novalidate="novalidate")
              .field-box(data-ng-class="{ error: !validation.name.valid }")
                label App Name:
                .col-md-7
                  input.form-control(type="text", data-ng-model="newApp.name", required="required")
                .col-md-7(data-ng-show="!validation.name.valid")
                  .alert-msg(data-ng-bind="validation.name.error")
              .field-box
                label App Type:
                .col-md-7
                  input.form-control(type="text", disabled="disabled", value="Android")
              .field-box
                label App URL:
                .col-md-7
                  input.form-control(type="text", data-ng-model="newApp.url")
              .field-box
                label App Category:
                .col-md-7
                  .ui-select
                    select(data-ng-model="newApp.category", required="required", data-ng-options="cat for cat in categories")
              .field-box
                label Description
                .col-md-7
                  textarea.form-control(row="16", col="4", data-ng-model="newApp.description")
              .field-box
                label
                .col-md-4
                  button.btn-flat.btn-lg.primary(data-ng-click="createAppFinal()") Create
                  button.btn-flat.btn-lg.white(data-ng-click="cancelAdd()") Cancel
                .col-md-3(data-ng-if="createAppError.length > 0")
                  .alert.alert-danger.tcenter(data-ng-bind="createAppError")