//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

a.new-item(href="/apps/new")
  i.fa.fa-plus
  | New app
.grid(data-ng-repeat="app in apps")
  .item
    img.icon(src="http://i1-news.softpedia-static.com/images/news2/Free-Angry-Birds-Release-Brings-Another-15-Levels-to-iPhone-iPod-touch-2.jpg")
    .name(data-ng-bind="app.name")
    .metrics
      canvas(id="myChart", width="340", height="200")
      .wrap: .text 
        .amount.large $ {{ app.earnings | number:2 }}
        .desc Total Revenue
    .stats
      .tab
        .amount(data-ng-bind="app.requests")
        .desc Requests
      .tab
        .amount $ {{ app.earnings | number:2 }}
        .desc Made Today

script.
  var data = {
    //labels : ["January","February","March","April","May","June","July"],
    labels : ["","","","","","",""],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : [65,59,90,81,56,55,40]
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : [28,48,40,19,96,27,100]
      }
    ]
  }

  var ctx = document.getElementById("myChart").getContext("2d");
  var options = {
      scaleShowLabels: false,
      scaleShowGridLines: false,
      scaleLineColor : "rgba(0,0,0,0)",
      pointDot: false,
  };
  new Chart(ctx).Line(data,options);