#main-stats
  .row.stats-row
    .col-md-3.col-sm-3.stat
      .data
        span.number 0
        | Impressions
      span.date Today
    .col-md-3.col-sm-3.stat
      .data
        span.number 0
        | Clicks
      span.date Today
    .col-md-3.col-sm-3.stat
      .data
        span.number 0%
        | CTR
      span.date Today
    .col-md-3.col-sm-3.stat
      .data
        span.number $0.00
        | Spent
      span.date Today

#pad-wrapper
  .row.header
    h3 Dashboard
    a#switch-dash(href="#") use the publisher dashboard