.tabs-wrap
  .tabs
    .tab(ng-click="tab = 'campaigns'" ng-class="{active: tab == 'campaigns'}") Campaigns
    .tab(ng-click="tab = 'ads'" ng-class="{active: tab == 'ads'}") Ads
    .tab(ng-click="tab = 'apps'" ng-class="{active: tab == 'apps'}") Apps

.index
  select.metrics(chosen ng-options="value as key for (key,value) in metrics" ng-model="opts.metric")

  .right: select(chosen ng-options="value as key for (key,value) in ranges" ng-model="opts.range")

  div(ng-switch="tab")
    .tab(ng-switch-when="campaigns" ng-controller="AdefyReportsCampaignsController")
      h1 Total
      graph(data="totals" type="type" width="880" height="300 " unit="decade")

      h1 Comparison
      table.info
        thead: tr
          th
          th Impressions
          th Clicks
          th CTR
          th Cost
        tbody
          tr(ng-repeat="campaign in campaigns | orderBy:'ctr':true")
            td {{ campaign.name }}
            td {{ campaign.stats.impressions | number }}
            td {{ campaign.stats.clicks | number }}
            td {{ campaign.stats.ctr | number:2 }}%
            td $ {{ campaign.stats.spent | number:2 }}
      canvas(barchart, data="data2", width="940", height="300")

    .tab(ng-switch-when="ads" ng-controller="AdefyReportsAdsController")
      h1 Total
      graph(data="totals" type="type" width="880" height="300" unit="decade")

      h1 Comparison
      table.info
        thead: tr
          th
          th Impressions
          th Clicks
          th CTR
          th Cost
        tbody
          tr(ng-repeat="ad in ads | orderBy:'ctr':true")
            td {{ ad.name }}
            td {{ ad.stats.impressions | number }}
            td {{ ad.stats.clicks | number }}
            td {{ ad.stats.ctr | number:2 }}%
            td $ {{ ad.stats.spent | number:2 }}
      canvas(barchart, data="data2", width="940", height="300")

    .tab(ng-switch-when="apps" ng-controller="AdefyReportsAppsController")
      h1 Total
      graph(data="totals" type="type" width="880" height="300" unit="decade")

      h1 Comparison
      table.info
        thead: tr
          th
          th Impressions
          th Clicks
          th CTR
          th Cost
        tbody
          tr(ng-repeat="app in apps | orderBy:'earnings':true")
            td {{ app.name }}
            td {{ app.stats.impressions | number }}
            td {{ app.stats.clicks | number }}
            td {{ app.stats.ctr | number:2 }}%
            td $ {{ app.stats.earnings | number:2 }}
      canvas(barchart, data="data2", width="940", height="300")
