.stats.dashboard(ng-cloak)
  .stat: .wrap
    .amount.large ▲ 12,647
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ 809
    .desc Clicks today
  .stat: .wrap
    .amount.large 6.4%
    .desc CTR today
  .stat: .wrap
    .amount.large $62.73
    .desc Spent today
