.stats.dashboard(ng-cloak)
  .stat: .wrap
    .amount.large ▲ 37,942
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ 2,428
    .desc Clicks today
  .stat: .wrap
    .amount.large 6.4%
    .desc CTR today
  .stat: .wrap
    .amount.large $188.19
    .desc Spent today
