.stats.dashboard
  .stat: .wrap
    .amount.large ▲ {{ app.stats.impressions | number }}
    .desc Total Impressions
  .stat: .wrap
    .amount.large ▲ {{ app.stats.clicks | number }}
    .desc Total Clicks
  .stat: .wrap
    .amount.large $ {{ app.stats.earnings | number:2 }}
    .desc Total Earnings
  .stat: .wrap
    .amount.large {{ app.stats.requests | number }}
    .desc Total Requests

.titlebar.cf.full(ng-controller="AdefyAppsMenuController")
  .name(ng-bind="app.name")

  .menu.full
    a(ng-href="/apps/{{app.id}}" tab partial='false')
      i.fa.fa-fw.fa-signal
      | Metrics
    a(ng-href="/apps/{{app.id}}/integration" tab)
      i.fa.fa-fw.fa-rocket
      | Integration
    a(ng-href="/apps/{{app.id}}/edit" tab)
      i.fa.fa-fw.fa-wrench
      | Settings
    a(ng-click="requestApproval()" ng-if="app.status == '1'")
      i.fa.fa-fw.fa-question
      | Request Approval

  .right
    .label.blue(ng-if="app.tutorial") Example

    span(ng-switch="app.status")
      .label.gray(ng-switch-when="0") Pending Approval
      .label.red(ng-switch-when="1") Rejected

    .label.gray(ng-if="app.status != 2") Approval Required To Enable

  .toggle-wrap.right(ng-if="app.status == 2")
    toggle-switch(method="activeToggled()" model="app.active")
