.titlebar.cf.full
  .name(ng-bind="app.name")
  span(ng-switch="app.status")
    .label.gray(ng-switch-when="0") Pending
    .label.red(ng-switch-when="1") Rejected
    .label.green(ng-switch-when="2") Approved
  .menu.full
    a(href="/apps/{{app.id}}/")
      i.fa.fa-fw.fa-signal
      | Metrics
    a(href="/apps/{{app.id}}/integration")
      i.fa.fa-fw.fa-paperclip
      | Integration
    a.active(href="/apps/{{app.id}}/edit")
      i.fa.fa-fw.fa-wrench
      | Edit

.inner: form
  dl.form.center
    dt
      label Application name
      span Used as a display name in Adefy
    dd: input(required ng-model="app.name" type="text")
    dt
      label Application URL
      span The Android package name or App Store ID
    dd: input(ng-model="app.url" type="text" placeholder="com.android.game")
    dt: label Application category
    dd
      select(chosen, ng-model="app.category", ng-options="c for c in categories")
    dt: label Description
    dd: textarea(ng-model="app.description")

    button.blue.center(ng-click="submit()") Save
