.grid-options
  a.new-item(href="/apps/new")
    i.fa.fa-plus
    | New app

  .sort
    p Sort by:
    a(ng-click="sort.direction = false" ng-if="sort.direction") &#9660;
    a(ng-click="sort.direction = true" ng-if="!sort.direction") &#9650;
    select(ui-select2 ng-model="sort.metric")
      option(value="earnings") Earnings
      option(value="name") Name
      option(value="impressions") Impressions
.grid
  a.item(ng-repeat="app in apps | orderBy:sort.metric:sort.direction" ng-href="/apps/{{ app.id }}" data-id="{{ app.id }}" ng-class="{ tutorial: app.tutorial }" ng-show="!app.tutorial || (app.tutorial && me.tutorials.apps)")
    img.icon(ng-src="{{ app.thumbURL }}")
    .name(ng-bind="app.name")
    .label.orange(ng-if="app.tutorial") Tutorial
    .metrics(ng-if="app.graphData")
      div.noAxes(analytics data="app.graphData" width="335" height="200")
      .wrap: .text
        .amount.large $ {{ app.stats.earnings | number:2 }}
        .desc Total Revenue
    .stats
      .tab
        .amount(ng-bind="app.stats.impressions24h")
        .desc Impressions Today
      .tab
        .amount $ {{ app.stats.earnings24h | number:2 }}
        .desc Revenue Today
