include _menu

.contents.center
  h1 Android SDK integration

  blockquote Grab our android library <a href="https://developer.adefy.com/sdks/adefy-android-v1.0.aar">here</a>. It includes JBox2D v2.2.1.1, so you don't need to include it separately if you are already using it.
  
  p lorem ipsum

  p lipsum

  pre { apikey: {{ app.apikey }} }
