include _menu

.contents.center
  p I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. Oh, I think we should just stay friends. Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. And yet you haven't said what I told you to say! How can any of us trust you? I could if you hadn't turned on the light and shut off my stereo. Okay, I like a challenge.