.titlebar.cf.full
  .name(ng-bind="app.name")
  span(ng-switch="app.status")
    .label.gray(ng-switch-when="0") Pending
    .label.red(ng-switch-when="1") Rejected
    .label.green(ng-switch-when="2") Approved
  .menu.full
    a(href="/apps/{{app.id}}")
      i.fa.fa-fw.fa-signal
      | Metrics
    a.active(href="/apps/{{app.id}}/integration")
      i.fa.fa-fw.fa-paperclip
      | Integration
    a(href="/apps/{{app.id}}/edit")
      i.fa.fa-fw.fa-wrench
      | Settings

.contents.center
  p I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. Oh, I think we should just stay friends. Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. And yet you haven't said what I told you to say! How can any of us trust you? I could if you hadn't turned on the light and shut off my stereo. Okay, I like a challenge.