.inner: form
  dl.form.center
    dt
      label Application name
      span Used as a display name in Adefy
    dd: input(required ng-model="app.name" type="text")
    dt
      label Application URL
      span The Android package name or App Store ID
    dd: input(ng-model="app.url" type="text" placeholder="com.android.game")
    dt: label Application category
    dd
      select.chosen-select(chosen, ng-model="app.category", ng-options="c for c in categories")
    dt: label Description
    dd: textarea(ng-model="app.description")

    button.blue.center(ng-click="submit()") Save
