include _menu

.contents.w920.center
  .stats.app
    .stat: .wrap
      .amount.large $ {{ app.stats.earnings24h | number:2 }}
      .desc 24h Earnings
    .stat: .wrap
      .amount.large ▲ {{ app.stats.impressions24h | number }}
      .desc 24h Impressions
    .stat: .wrap
      .amount.large ▲ {{ app.stats.clicks24h | number }}
      .desc 24h Clicks
    .stat: .wrap
      .amount.large {{ app.stats.requests | number }}
      .desc 24h Requests

.graphs
  .graph
    h3 24h Stats
    div(graph data="earningsData" width="900" height="350" type="line" axes="all" hover="true" legend="true")
