.titlebar.cf.full
  .name(ng-bind="app.name")
  span(ng-switch="app.status")
    .label.gray(ng-switch-when="0") Pending
    .label.red(ng-switch-when="1") Rejected
    .label.green(ng-switch-when="2") Approved
  .menu
    a.active(href="#")
      i.fa.fa-fw.fa-signal
      | Metrics
    a(href="#")
      i.fa.fa-fw.fa-paperclip
      | Integration
    a(href="/app/edit")
      i.fa.fa-fw.fa-wrench
      | Edit

.stats.app
  .stat: .wrap
    .amount.large $ {{ app.earnings | number:2 }}
    .desc Earned today
  .stat: .wrap
    .amount.large ▲ {{ app.impressions | number }}
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ {{ app.clicks | number }}
    .desc Clicks
  .stat: .wrap
    .amount.large $ {{ app.earnings | number:2 }}
    .desc Total revenue
.graphs
  .graph
  .graph
  .graph
  .graph