#page-admin-invites
  .mainbar
    .title.only Invites
  hr
  table#invite-list.basic-table
    thead
      td Email
      td Invite Code
    tr(data-ng-repeat="i in invites")
      td(data-ng-bind="i.email")
      td(data-ng-bind="i.code")