#page-admin-users
  .mainbar
    .title.only User list
  hr
  table#user-list
    thead
      td Username
      td First Name
      td Last Name
      td Email
      td Joined
    tr(data-ng-repeat="u in userlist")
      td(data-ng-bind="u.username")
      td(data-ng-bind="u.fname")
      td(data-ng-bind="u.lname")
      td(data-ng-bind="u.email")
      td(data-ng-bind="u.join")