include _menu

.contents.w1170.center
  br
  br
  .w50.padded
    .section Ads Awaiting Approval

    table.info
      thead: tr
        th User
        th Ad Name
        th Creative
        th
      tbody
        tr(ng-repeat="ad in ads" ng-if="ad.status == 0")
          td {{ ad.owner.username }}
          td {{ ad.name }}

          td(ng-if="ad.data.url.length > 0") Yes
          td(ng-if="!(ad.data.url.length > 0)") No

          td
            button.blue(ng-click="viewAd(ad)") View

    br
    br

    .section Approved Ads

    table.info
      thead: tr
        th User
        th Ad Name
        th
      tbody
        tr(ng-repeat="ad in ads" ng-if="ad.status == 2")
          td {{ ad.owner.username }}
          td {{ ad.name }}

          td
            button.blue(ng-click="viewAd(ad)") View

    br
    br

    .section Rejected Ads

    table.info
      thead: tr
        th User
        th Ad Name
        th
      tbody
        tr(ng-repeat="ad in ads" ng-if="ad.status == 1")
          td {{ ad.owner.username }}
          td {{ ad.name }}

          td
            button.blue(ng-click="viewAd(ad)") View

  .w50.padded(ng-if="!adView")
    h3 No ad selected

  .w50.padded(ng-if="adView")
    form
      fieldset: dl.form.center.labels-only
        legend Basic Info

        dt: label.tright Name:
        dd: label {{ adView.name }}

        div(ng-if="adView.data")
          dt: label.tright URL:
          dd: a(ng-href="{{ adView.data.url }}" target="_blank") {{ adView.data.url }}

      fieldset(ng-if="adView.status == 2"): dl.form.center.labels-only
        legend Statistics

        dt: label.tright Impressions:
        dd: label {{ adView.stats.impressions }}

        dt: label.tright Clicks:
        dd: label {{ adView.stats.clicks }}

        dt: label.tright Spent:
        dd: label ${{ adView.stats.spent | number:2 }}

      fieldset: dl.form.center.labels-only
        legend User Information

        dt: label.tright Username:
        dd: label {{ adView.owner.username }}

        div(ng-if="adView.owner.fname.length > 0")
          dt: label.tright First Name:
          dd: label {{ adView.owner.fname }}

        div(ng-if="adView.owner.lname.length > 0")
          dt: label.tright Last Name:
          dd: label {{ adView.owner.lname }}

        div(ng-if="adView.owner.company.length > 0")
          dt: label.tright Company:
          dd: label {{ adView.owner.company }}

        dt: label.tright Email:
        dd: label {{ adView.owner.email }}

        dt: label.tright Publisher Revenue:
        dd: label ${{ adView.owner.pubFunds | number:2 }}

        dt: label.tright Advertiser Credit:
        dd: label ${{ adView.owner.adFunds | number:2 }}

        dt
        dd
          button.blue(ng-click="approveAd()" ng-if="adView.status != 2") Approve
          button.red(ng-click="disapproveAd()" ng-if="adView.status != 1") Disapprove

      div.small(ng-if="cycle")
        br
        br
        ad-creator(controls="false" messages="false" url="{{ adView.data.url }}" getdata="getSavedData")
