include _menu

.index.dashboard
  br
  br
  .section Users

  table.info
    thead: tr
      th Username
      th Email
      th Ad Credit
      th Pub Balance
      th
    tbody
      tr(ng-repeat="(i, u) in userlist")
        td {{ u.username }}
        td {{ u.email }}

        td $ {{ u.adFunds | number:2 }}
        td $ {{ u.pubFunds | number:2 }}

        td
          button.red(ng-click="delete(i)") Delete
