.titlebar.cf.full(ng-controller="AdefyAdminMenuController")
  .name Admin Dashboard
  .menu.full
    a(ng-href="/admin/home" tab)
      i.fa.fa-fw.fa-signal
      | Home
    a(ng-href="/admin/publishers" tab)
      i.fa.fa-fw.fa-wrench
      | Publishers
    a(ng-href="/admin/ads" tab)
      i.fa.fa-fw.fa-lemon-o
      | Ads
    a(ng-href="/admin/users" tab)
      i.fa.fa-fw.fa-wrench
      | Users
    a(ng-href="/admin/rtbsim" tab)
      i.fa.fa-fw.fa-bar-chart-o
      | RTB Sim
