//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.contents.w1170.center
  br
  br
  .w50.padded
    h1 Ads Awaiting Approval

    table.info
      thead: tr
        th User
        th Ad Name
        th Creative
        th
      tbody
        tr(ng-repeat="ad in ads" ng-if="ad.status == 0")
          td {{ ad.owner.username }}
          td {{ ad.name }}

          td(ng-if="ad.data.url.length > 0") Yes
          td(ng-if="!(ad.data.url.length > 0)") No

          td
            button.blue(ng-click="viewAd(ad)") View

    br
    br

    h1 Approved Ads

    table.info
      thead: tr
        th User
        th Ad Name
        th
      tbody
        tr(ng-repeat="ad in ads" ng-if="ad.status == 2")
          td {{ ad.owner.username }}
          td {{ ad.name }}

          td
            span.label(ng-class="ad.activeClass" style="margin-right: 8px;") {{ ad.activeText }}
            button.blue(ng-click="viewAd(ad)") View

    br
    br

    h1 Rejected Ads

    table.info
      thead: tr
        th User
        th Ad Name
        th
      tbody
        tr(ng-repeat="ad in ads" ng-if="ad.status == 1")
          td {{ ad.owner.username }}
          td {{ ad.name }}

          td
            span.label(ng-class="ad.activeClass" style="margin-right: 8px;") {{ ad.activeText }}
            button.blue(ng-click="viewAd(ad)") View

  .w50.padded(ng-if="!adView")
    h3 No ad selected

  .w50.padded(ng-if="adView")
    form
      fieldset: dl.form.center
        legend Basic Info

        dt: h3.tright Name:
        dd: h6 {{ adView.name }}

        div(ng-if="adView.data")
          dt: h3.tright URL:
          dd: a(ng-href="{{ adView.data.url }}" target="_blank") {{ adView.data.url }}

      fieldset(ng-if="adView.status == 2"): dl.form.center
        legend Statistics

        dt: h3.tright Impressions:
        dd: h6 {{ adView.stats.impressions }}

        dt: h3.tright Clicks:
        dd: h6 {{ adView.stats.clicks }}

        dt: h3.tright Spent:
        dd: h6 ${{ adView.stats.spent | number:2 }}

      fieldset: dl.form.center
        legend User Information

        dt: h3.tright Username:
        dd: h6 {{ adView.owner.username }}

        div(ng-if="adView.owner.fname.length > 0")
          dt: h3.tright First Name:
          dd: h6 {{ adView.owner.fname }}

        div(ng-if="adView.owner.lname.length > 0")
          dt: h3.tright Last Name:
          dd: h6 {{ adView.owner.lname }}

        div(ng-if="adView.owner.company.length > 0")
          dt: h3.tright Company:
          dd: h6 {{ adView.owner.company }}

        dt: h3.tright Email:
        dd: h6 {{ adView.owner.email }}

        dt: h3.tright Publisher Revenue:
        dd: h6 ${{ adView.owner.pubFunds | number:2 }}

        dt: h3.tright Advertiser Credit:
        dd: h6 ${{ adView.owner.adFunds | number:2 }}

        dt
        dd
          button.blue(ng-click="approveAd()" ng-if="adView.status != 2") Approve
          button.red(ng-click="disapproveAd()" ng-if="adView.status != 1") Disapprove

      div.small(ng-if="cycle")
        br
        br
        ad-creator(controls="false" messages="false" url="{{ adView.data.url }}" getdata="getSavedData")
