//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.stats.dashboard
  .stat: .wrap
    .amount.large ▲ 0
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ 0
    .desc Clicks today
  .stat: .wrap
    .amount.large {{ userCount }}
    .desc Users
  .stat: .wrap
    .amount.large {{ inviteCount }}
    .desc Invites

.index.dashboard
  br
  h1 Users &amp; Invites
  br
  div(graph data="adminChartData" width="840" height="250" type="line" legend="true" hover="true" axes="y")
