.col-lg-2
  ul.nav.nav-pills.nav-stacked
    li.active
      a(href="/dashboard/admin") Home
    li
      a(href="/dashboard/admin/users") Users
    li
      a(href="/dashboard/admin/invites") Invites

.col-lg-8
  h2 No admin dashboard ;(