//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

.stats.dashboard
  .stat: .wrap
    .amount.large ▲ 0
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ 0
    .desc Clicks today
  .stat: .wrap
    .amount.large {{ userCount }}
    .desc Users

include _menu

br
br

.index.dashboard
  .w50
    h6.block.tcenter Users
    div(analytics data="userGraph" width="350" height="150" type="line" hover="hoverFormatter")
  .w50
    h6.block.tcenter Publishers
    div(analytics data="pubGraph" width="350" height="150" type="line" hover="hoverFormatter")
  .w50
    h6.block.tcenter Campaigns
    div(analytics data="campaignGraph" width="350" height="150" type="line" hover="hoverFormatter")
  .w50
    h6.block.tcenter Ads
    div(analytics data="adGraph" width="350" height="150" type="line" hover="hoverFormatter")
