//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.index.dashboard
  br
  button.blue(form-modal href="#" template="/views/dashboard/admin:modals:newInvite" title="Create New Invite" ok-button-text="Create" form-submit="newInvite()" form-object="form") New Invite
  br
  br

  div(ng-if="invites.length > 0")
    h1 Invites

    table.info
      thead: tr
        th Email
        th Invite Code
      tbody
        tr(form-modal ng-repeat="(i, invite) in invites" template="/views/dashboard/admin:modals:editInvite" title="Edit Invite" ok-button-text="Save" delete-button-text="Delete" form-submit-func="editInvite" form-delete-func="deleteInvite" form-object="invite")
          td {{ invite.email }}
          td {{ invite.code }}
