include _menu

.new-news
  a.new-item(form-modal template="/views/dashboard/news:new" title="Create News" ok-button-text="Save" form-submit="create()" form-object="news" close="closeForm")
    i.fa.fa-plus
    | New News

ul.list
  a.item(ng-repeat="article in news" ng-href="/news/{{article.id}}")
    li.news
      span.title {{ article.title }}
      span.date {{ article.date | date:'MMMM dd, yyyy' }}
      span.time @ {{ article.time | date:'HH:mm:ss' }}
      p {{ article.text }}