//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.index.dashboard
  br
  br
  h1 Publishers

  table.info
    thead: tr
      th User
      th App Name
      th Status
      th Impressions
      th Clicks
      th CTR
      th Earnings
      th Actions
    tbody
      tr(ng-repeat="pub in pubs")
        td {{ pub.owner.username }}
        td {{ pub.name }}

        td
          span.label(ng-class="pub.statusClass") {{ pub.statusText }}
          .spacer
          span.label(ng-class="pub.activeClass") {{ pub.activeText }}

        td {{ pub.stats.impressions }}
        td {{ pub.stats.clicks }}

        td {{ pub.stats.ctr | number:2 }}%
        td $ {{ pub.stats.earnings | number:2 }}

        td
          a.btn.btn-flat.success.small(href="#" ng-click="viewPub(pub)") View

.index.dashboard(ng-if="pubView.name")
  br
  br
  h1
    span {{ pubView.name }} - Details
    span.label(ng-class="pubView.statusClass") {{ pubView.statusText }}
    span.label(ng-class="pubView.activeClass") {{ pubView.activeText }}

  form(ng-if="pubView.status == 0")
    dl.form.center
      dt
        label Message
        textarea(row="16" col="4" ng-model="pubView.newApprovalMessage" placeholder="Required for disapproval")
      dt
      dd
        button.btn-flat.success(ng-click="approvePub()") Approve
      dt
      dd
        button.btn-flat.danger(ng-click="disapprovePub()") Disapprove

  div(ng-if="pubView.status != 2" ng-repeat="msg in pubView.approvalMessage")
    h4 Sent {{ msg.timestamp | date }}
    br
    h5(ng-bind="msg.msg")
    br
    br
    hr
