//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.index.dashboard
  .row.header
    .col-md-12
      h3 Publishers

  .table-wrapper.section
    .row
      table.table.table-striped.table-hover
        thead
          tr
            th User
            th App Name
            th Status
            th Requests
            th Impressions
            th Clicks
            th CTR
            th Earnings
            th Actions
        tbody
          tr(data-ng-repeat="(i, pub) in pubs", data-ng-click="viewPub({{ i }})")
            td(data-ng-bind="pub.username")
            td(data-ng-bind="pub.name")

            td
              span.label(data-ng-bind="pub.statusText", data-ng-class="pub.statusClass")
              .spacer
              span.label(data-ng-bind="pub.activeText", data-ng-class="pub.activeClass")

            td(data-ng-bind="pub.requests")
            td(data-ng-bind="pub.impressions")
            td(data-ng-bind="pub.clicks")

            td
              | {{ pub.ctr | number:2 }}%
            td
              | $ {{ pub.earnings | number:2 }}

            td
              a.btn.btn-flat.success.small(data-ng-click="viewPub({{ i }})") View

  div(data-ng-if="mode == \"view\" && (pubView.status == 3 || pubView.status == 2)")
    .separator
    .row.header
      .col-md-12
        h3
          | {{ pubView.name }} - Details

    div(data-ng-if="pubView.status == 3")
      .row.section
        .col-md-12
          h4 Awaiting Approval

      br
      br

      .row.section
        .col-md-7
          .form-wrapper
            .container
              form
                .field-box
                  label Message
                  .col-md-7
                    textarea.form-control(row="16", col="4", data-ng-model="pubView.newApprovalMessage", placeholder="Required for disapproval")
                .field-box
                  label
                  .col-md-7
                    button.btn-flat.success(data-ng-click="approvePub()") Approve
                    button.btn-flat.danger(data-ng-click="disapprovePub()") Disapprove

        .col-md-5
          div(data-ng-repeat="msg in pubView.approvalMessage")
            h4
              | Sent {{ msg.timestamp | date }}
            br
            h5(data-ng-bind="msg.msg")
            br
            br
            hr

    div(data-ng-if="pubView.status == 2")
      .row.section
        .col-md-12
          h4 Metrics!
