//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

.stats.dashboard
  .stat: .wrap
    .amount.large $ {{ budget | number:2 }}
    .desc Daily Budget
  .stat: .wrap
    .amount.large $ {{ averageBid | number:2 }}
    .desc Average Bid
  .stat: .wrap
    .amount.large ▲ {{ impressions }}
    .desc Impressions
  .stat: .wrap
    .amount.large {{ pace * 100 }}%
    .desc Pace

include _menu

.index.dashboard
  br
  br
  h1 RTB Sim
  br
  div(graph data="chart" width="840" height="250" type="line" legend="true" hover="true" axes="y")
  br
  input(type="text" placeholder="Flow control" ng-model="flowControl")
