//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.index.dashboard
  br
  br
  h1 Users

  table.info
    thead: tr
      th Username
      th Email
      th Ad Credit
      th Pub Balance
      th
    tbody
      tr(ng-repeat="(i, u) in userlist")
        td {{ u.username }}
        td {{ u.email }}

        td $ {{ u.adFunds | number:2 }}
        td $ {{ u.pubFunds | number:2 }}

        td
          button.btn.btn-danger(ng-click="delete(i)") Delete
