//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.index.dashboard
  .row.header
    .col-md-12
      h3 Users

  .table-wrapper.section
    .row
      table.table.table-striped.table-hover
        thead
          tr
            th Username
            th First Name
            th Last Name
            th Email
            th Advertising Credit
            th Publisher Balance
            th Actions
        tbody
          tr(data-ng-repeat="(i, u) in userlist")
            td(data-ng-bind="u.username")
            td(data-ng-bind="u.fname")
            td(data-ng-bind="u.lname")
            td(data-ng-bind="u.email")

            td
              | $ {{ u.advertiserCredit | number:2 }}
            td
              | $ {{ u.publisherBalance | number:2 }}

            td
              button.btn.btn-danger.btn-sm(data-ng-click="delete({{ i }})") Delete
