#pad-wrapper
  .row.header
    .col-md-12
      h3 Users

  .table-wrapper.section
    .row
      table.table.table-striped.table-hover
        thead
          tr
            th Username
            th First Name
            th Last Name
            th Email
            th
        tbody
          tr(data-ng-repeat="(i, u) in userlist")
            td(data-ng-bind="u.username")
            td(data-ng-bind="u.fname")
            td(data-ng-bind="u.lname")
            td(data-ng-bind="u.email")
            td
              button.btn.btn-danger(data-ng-click="delete({{ i }})") Delete