.container#ad-creator.tablet

  #col-left
    .panel
      .header Background texture
      div
        ul.image-options
          li
            img(src="/assets/flatAssets/metalbg.png")
          li
            img(src="/assets/flatAssets/woodbg.png")
          li
            img(src="/assets/flatAssets/marblebg.png")
          li
            img(src="/assets/flatAssets/metalbg.png")
          li
            img(src="/assets/flatAssets/woodbg.png")
          li
            img(src="/assets/flatAssets/marblebg.png")
          li
            img(src="/assets/flatAssets/metalbg.png")
          li
            img(src="/assets/flatAssets/woodbg.png")
      div
        button
          i.fa.fa-plus
          | Upload Texture

  #device-container
    #device
      #ad-left-col
        #ad-label.gray Advertisment
        img#appImage

      #ad-right-col
        #app-title
        #app-subtitle

        #app-developer
          .header.gray
            i.fa.fa-user
            | Developer
          span

        #app-description
          .header.gray
            i.fa.fa-bars
            | Description
          span

        button#remind-me-later Remind me later

      #ad-screenshots-header
        .left
          i.fa.fa-picture-o
          .gray Snapshots - 
          |  Battlelog

        .right
          i.fa.fa-eye 
            | 6

      #ad-screenshots
        ul

  #col-right
