.container#ad-creator

  .mainURL(ng-if="showControls")
    input(type="url" placeholder="Enter Google Play URL" ng-model="url")
    button(ng-click="updateTemplateURL()") Generate Creative

  div(ng-if="!data.loaded && loading == false && messages").tcenter
    .waiting-message Waiting for URL

  div(ng-if="!data.loaded && loading == true && messages").tcenter
    .waiting-message Generating creative...

  div(ng-if="!data.loaded && showsuggestions == true")#suggestions
    div(ng-if="suggestions == null")
      .header Loading suggestions...
    div(ng-if="suggestions != null")
      .header Popular apps
      ul
        li(ng-repeat="suggestion in suggestions | limitTo:10" ng-click="pickSuggestion(suggestion.url)")
          img(ng-src="{{ suggestion.cover }}")

  div(ng-if="data.loaded")
    .col
      .panel
        .header Background
        .header.inner Blur
        div
          input(type="number" placeholder="Enter blur amount" min="16" ng-model="data.blur")

        .header.inner Background Image
        div
          ul.inset-list
            li(ng-repeat="screenshot in data.screenshots")
              img.screenieBG(ng-src="{{ screenshot }}" ng-click="setScreenshotBG(screenshot)")

        div
          button
            i.fa.fa-plus
            | Upload Image

        .header.inner Background Overlay
        div
          ul.inset-list
            li: div.color-option.overlay-dark1(ng-click="setBGOverlay('dark1')")
            li: div.color-option.overlay-dark2(ng-click="setBGOverlay('dark2')")
            li: div.color-option.overlay-dark3(ng-click="setBGOverlay('dark3')")
            li: div.color-option.overlay-dark4(ng-click="setBGOverlay('dark4')")
            li: div.color-option.overlay-dark5(ng-click="setBGOverlay('dark5')")

            li: div.color-option.overlay-bright1(ng-click="setBGOverlay('bright1')")
            li: div.color-option.overlay-bright2(ng-click="setBGOverlay('bright2')")
            li: div.color-option.overlay-bright3(ng-click="setBGOverlay('bright3')")
            li: div.color-option.overlay-bright4(ng-click="setBGOverlay('bright4')")
            li: div.color-option.overlay-bright5(ng-click="setBGOverlay('bright5')")

            li: div.color-option.overlay-red1(ng-click="setBGOverlay('red1')")
            li: div.color-option.overlay-red2(ng-click="setBGOverlay('red2')")
            li: div.color-option.overlay-red3(ng-click="setBGOverlay('red3')")
            li: div.color-option.overlay-red4(ng-click="setBGOverlay('red4')")
            li: div.color-option.overlay-red5(ng-click="setBGOverlay('red5')")

            li: div.color-option.overlay-blue1(ng-click="setBGOverlay('blue1')")
            li: div.color-option.overlay-blue2(ng-click="setBGOverlay('blue2')")
            li: div.color-option.overlay-blue3(ng-click="setBGOverlay('blue3')")
            li: div.color-option.overlay-blue4(ng-click="setBGOverlay('blue4')")
            li: div.color-option.overlay-blue5(ng-click="setBGOverlay('blue5')")

            li: div.color-option.overlay-green1(ng-click="setBGOverlay('green1')")
            li: div.color-option.overlay-green2(ng-click="setBGOverlay('green2')")
            li: div.color-option.overlay-green3(ng-click="setBGOverlay('green3')")
            li: div.color-option.overlay-green4(ng-click="setBGOverlay('green4')")
            li: div.color-option.overlay-green5(ng-click="setBGOverlay('green5')")

            li: div.color-option.overlay-yellow1(ng-click="setBGOverlay('yellow1')")
            li: div.color-option.overlay-yellow2(ng-click="setBGOverlay('yellow2')")
            li: div.color-option.overlay-yellow3(ng-click="setBGOverlay('yellow3')")
            li: div.color-option.overlay-yellow4(ng-click="setBGOverlay('yellow4')")
            li: div.color-option.overlay-yellow5(ng-click="setBGOverlay('yellow5')")

            li: div.color-option.overlay-orange1(ng-click="setBGOverlay('orange1')")
            li: div.color-option.overlay-orange2(ng-click="setBGOverlay('orange2')")
            li: div.color-option.overlay-orange3(ng-click="setBGOverlay('orange3')")
            li: div.color-option.overlay-orange4(ng-click="setBGOverlay('orange4')")
            li: div.color-option.overlay-orange5(ng-click="setBGOverlay('orange5')")

    .col
      .panel
        .header Text Content
        .header.inner Subtitle
        div
          input(type="text" placeholder="Subtitle" ng-model="data.subtitle")
        .header.inner Description
        div
          textarea(placeholder="Description" ng-model="data.description" rows="6")

      .panel
        .header Styling

        .header.inner Color Palette
        div
          ul.inset-list
            li: div.color-option.palette-redbright(ng-click="setPalette('redbright')")
            li: div.color-option.palette-bluebright(ng-click="setPalette('bluebright')")
            li: div.color-option.palette-greenbright(ng-click="setPalette('greenbright')")
            li: div.color-option.palette-yellowbright(ng-click="setPalette('yellowbright')")
            li: div.color-option.palette-orangebright(ng-click="setPalette('orangebright')")

            li: div.color-option.palette-red(ng-click="setPalette('red')")
            li: div.color-option.palette-blue(ng-click="setPalette('blue')")
            li: div.color-option.palette-green(ng-click="setPalette('green')")
            li: div.color-option.palette-yellow(ng-click="setPalette('yellow')")
            li: div.color-option.palette-orange(ng-click="setPalette('orange')")

        .header.inner Button Style
        div
          ul.inset-list
            li(class="fullw {{ data.styleClass }}")
              button.button-round.example(ng-click="setButtonStyle('round')") Remind me later!
            li(class="fullw {{ data.styleClass }}")
              button.button-square.example(ng-click="setButtonStyle('square')") Remind me later!

      .panel
        .header Loading

        .header.inner Loading Bar Color
        div
          ul.inset-list
            li: div.color-option.loading-white(ng-click="setLoadingColor('white')")
            li: div.color-option.loading-red(ng-click="setLoadingColor('red')")
            li: div.color-option.loading-blue(ng-click="setLoadingColor('blue')")
            li: div.color-option.loading-green(ng-click="setLoadingColor('green')")
            li: div.color-option.loading-yellow(ng-click="setLoadingColor('yellow')")
            li: div.color-option.loading-orange(ng-click="setLoadingColor('orange')")

        .header.inner Loading Bar Style
        div
          ul.inset-list.loading-style-options
            li
              div.loading-style-option.loading-style-flat(class="{{ data.loadingColorClass }}" ng-click="setLoadingStyle('flat')")
                .loading-container
                  .loading-element

            li
              div.loading-style-option.loading-style-round(class="{{ data.loadingColorClass }}" ng-click="setLoadingStyle('round')")
                .loading-container
                  .loading-element

    #device-container(onmousedown="return false" class="{{ data.styleClass }}")
      #device-bg(style="background: url({{ data.currentBG }}); {{ generateBlurCSS(data.blur) }}")
      #device(class="{{ data.bgOverlayClass }}")
        #ad-left-col
          #ad-label.gray Advertisment
          img#appImage(ng-src="{{ data.image }}" alt="")
          #rating-bg
            #rating(style="width: {{ data.rating }}%")
          #price(ng-bind="data.price")

        #ad-right-col
          #app-title(ng-bind="data.title")
          #app-subtitle(ng-bind="data.subtitle")

          #app-developer
            .header.gray
              i.fa.fa-user
              | Developer
            span(ng-bind="data.developer")

          #app-description
            .header.gray
              i.fa.fa-bars
              | Description
            span(ng-bind="data.description")

          button#remind-me-later(class="{{ data.buttonStyleClass }}") Remind me later!

        #ad-screenshots-bg
        #ad-screenshots-header
          .left
            i.fa.fa-picture-o
            .gray Snapshots - 
            |  {{ data.title }}

          .right
            i.fa.fa-eye
            span {{ data.screenshots.length }}

        #ad-screenshots
          ul
            li(ng-repeat="screenshot in data.screenshots")
              img(ng-src="{{ screenshot }}" alt="" height="160")

        div(class="{{ data.loadingColorClass }} {{ data.loadingStyleClass }}")
          .loading-container#loader-bg
            .loading-element#loader
