.titlebar.cf.full
  .name Reports
  .menu.full
    a(ng-href="/reports/campaigns" tab)
      i.fa.fa-fw.fa-bullhorn
      | Campaigns
    a(ng-href="/reports/ads" tab)
      i.fa.fa-fw.fa-sitemap
      | Ads
    a(ng-href="/reports/apps" tab)
      i.fa.fa-fw.fa-rocket
      | Apps
