include _menu

.contents.w920.center.app-reports-controls
  .graphs
    .graph.w100.reports-header
      .w33
        .block
          .w25.contents-right
            label(for="startDate") From:
          .w75.contents-left
            datepicker(ng-model="range.startDate")
      .w33
        .block
          .w25.contents-right
            label(for="endDate") Until:
          .w75.contents-left
            datepicker(ng-model="range.endDate")
      .w33
        .block
          .w50.contents-right
            label(for="sum") Sum Graphs:
          .w50.contents-left
            input(type="checkbox" name="sum" ng-model="graphSum")

.contents.w920.center(ng-if="comparisonData == null")
  h2.loading Loading comparison data...

.contents.w920.center(ng-if="comparisonData != null")
  .section Comparison

  table.info
    thead: tr
      th Name
      th Impressions
      th Clicks
      th CTR
      th Earnings
    tbody
      tr(ng-repeat="app in comparisonData | orderBy:'ctr':true")
        td {{ app.name }}
        td {{ app.impressions | number }}
        td {{ app.clicks | number }}
        td {{ app.ctr | number:2 }}%
        td ${{ app.earnings | number:2 }}

.contents.w920.center(ng-if="impressionsData == null || clicksData == null || earningsData == null")
  h2.loading Loading performance data...

.contents.w920.center(ng-show="impressionsData != null && clicksData != null && earningsData != null")
  .section Metric Performance
    .w50.right.header-controls.app-reports-controls
      .w50.contents-right
        label(for="interval") Graph Interval:
      .w50.contents-left
        select(ui-select2 name="interval" ng-model="graphInterval")
          option(value="")
          option(ng-repeat="i in intervalOptions" value="{{ i.val }}") {{ i.name }}

  div(ng-if="impressionsData != null && clicksData != null && earningsData != null")
    .w50
      h6.block.tcenter Impressions
      div(analytics data="impressionsData" width="340" height="150" type="line" hover="hoverFormatNumber" legend="true")

    .w50
      h6.block.tcenter Clicks
      div(analytics data="clicksData" width="340" height="150" type="line" hover="hoverFormatNumber" legend="true")

    .block
      h6.block.tcenter Expenses
      div(analytics data="earningsData" width="800" height="300" type="line" hover="hoverFormatEarned" legend="true")
