//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

.stats.dashboard
  .stat: .wrap
    .amount.large ▲ {{ impressions24h }}
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ {{ clicks24h }}
    .desc Clicks today
  .stat: .wrap
    .amount.large {{ ctr24h | number:2 }}%
    .desc CTR today
  .stat: .wrap
    .amount.large $ {{ spent24h | number:2 }}
    .desc Spent today

.index.dashboard
  a.switch-view(href="/home/publisher") Switch to publisher view

  div.w50(ng-if="graph24hStats")
    h6.block.tcenter 24h Clicks &amp; Impressions
    div(analytics data="graph24hStats" width="350" height="150" type="line" legend="true" hover="true" hover="hoverFormatter")

  div.w50(ng-if="graph24hSpent")
    h6.block.tcenter 24h Expenses
    div(analytics data="graph24hSpent" width="350" height="150" type="line" legend="true" hover="true" hover="hoverFormatter")

  div.block(ng-if="graphLifetimeMetrics")
    h6.block.tcenter Lifetime Metrics
    div(analytics data="graphLifetimeMetrics" width="800" height="300" type="line" legend="true" hover="true" hover="hoverFormatter")

  h1 Top Campaigns
  table.info
    thead: tr
      th
      th Impressions
      th Clicks
      th CTR
      th Spent
    tbody
      tr(ng-repeat="campaign in campaigns | orderBy:'ctr':true | limitTo:10")
        td {{ campaign.name }}
        td {{ campaign.stats.impressions | number }}
        td {{ campaign.stats.clicks | number }}
        td {{ campaign.stats.ctr | number:2 }}%
        td {{ campaign.stats.spent | currency:$ }}
  div
    h1 News
    ul.news
      li
        span.title News item
        span.date Sept 23
        p I'm sorry, what were you asking me? Oh, yes, that stupid plastic container I asked you to buy. You see, hydrofluoric acid won't eat through plastic.
      li
        span.title News item
        span.date Sept 23
        p That is seventeen five - your half of the thirty-five thousand. Plus there's an extra fifteen in there, it's all yours, you've earned it. We made a deal. That's right.
      li
        span.title News item
        span.date Sept 23
        p I will go back to Gotham and I will fight men Iike this but I will not become an executioner.
    ul.news
      li
        span.title News item
        span.date Sept 23
        p I'm sorry, what were you asking me? Oh, yes, that stupid plastic container I asked you to buy.
      li
        span.title News item
        span.date Sept 23
        p That is seventeen five - your half of the thirty-five thousand.
      li
        span.title News item
        span.date Sept 23
        p I will go back to Gotham and I will fight men Iike this but I will not become an executioner.
