.stats.dashboard(ng-cloak)
  .stat: .wrap
    .amount.large ▲ {{ impressions24h | number }}
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ {{ clicks24h | number }}
    .desc Clicks today
  .stat: .wrap
    .amount.large {{ ctr24h | number:2 }}%
    .desc CTR today
  .stat: .wrap
    .amount.large {{ spent24h | currency:$ }}
    .desc Spent today

.index.dashboard
  a.switch-view(href="/home/publisher") Switch to publisher view

  div.w50(ng-if="graph24hStats")
    h6.block.tcenter 24h Clicks &amp; Impressions
    div(analytics data="graph24hStats" width="340" height="150" type="line" legend="true" hover="hoverFormatter")

  div.w50(ng-if="graph24hSpent")
    h6.block.tcenter 24h Expenses
    div(analytics data="graph24hSpent" width="340" height="150" type="line" legend="true" hover="hoverFormatter")

  div.block(ng-if="graphLifetimeMetrics")
    h6.block.tcenter Lifetime Metrics
    div(analytics data="graphLifetimeMetrics" width="800" height="300" type="line" legend="true" hover="hoverFormatter")

  .section Top Campaigns
  table.info(ng-cloak ng-table="campaignTableParams")
    tr(ng-repeat="campaign in campaigns" ng-show="!campaign.tutorial")
      td(data-title="'Campaign Name'" sortable="'name'")
        {{ campaign.name }}
      td(data-title="'Impressions'" sortable="'stats.impressions'")
        {{ campaign.stats.impressions | number }}
      td(data-title="'Clicks'" sortable="'stats.clicks'")
        {{ campaign.stats.clicks | number }}
      td(data-title="'CTR'" sortable="'stats.ctr'")
        {{ campaign.stats.ctr | number:2 }}%
      td(data-title="'Spent'" sortable="'stats.spent'")
        {{ campaign.stats.earnings | currency:$ }}

  div
    .section News
    ul.news
      li
        span.title We are live!
        span.date January 31th, 2014
        p
          | Adefy is now live and ready to serve you. Look around, get familiar with the platform and our
          a(href="https://developer.adefy.com" target="_blank") Developer Center.
          | If you need any assistance we will gladly help!
