//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

.graph2
  .stats.dashboard
    .stat: .wrap
      .amount.large $ 381.23
      .desc Earned today
    .stat: .wrap
      .amount.large ▲ 8,351
      .desc Impressions today
    .stat: .wrap
      .amount.large ▲ 251
      .desc Clicks
    .stat: .wrap
      .amount.large $ 472.75
      .desc Total revenue
  canvas(id="myChart" width="960" height="300")
.index
  ul.news
    li
      span.title News item
      span.date Sept 23
      p I'm sorry, what were you asking me? Oh, yes, that stupid plastic container I asked you to buy. You see, hydrofluoric acid won't eat through plastic.
    li
      span.title News item
      span.date Sept 23 
      p That is seventeen five - your half of the thirty-five thousand. Plus there's an extra fifteen in there, it's all yours, you've earned it. We made a deal. That's right.
    li
      span.title News item
      span.date Sept 23 
      p I will go back to Gotham and I will fight men Iike this but I will not become an executioner.
  ul.news
    li
      span.title News item
      span.date Sept 23
      p I'm sorry, what were you asking me? Oh, yes, that stupid plastic container I asked you to buy.
    li
      span.title News item
      span.date Sept 23 
      p That is seventeen five - your half of the thirty-five thousand. 
    li
      span.title News item
      span.date Sept 23 
      p I will go back to Gotham and I will fight men Iike this but I will not become an executioner.


script.
  var data = {
    labels : ["January","February","March","April","May","June","July"],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : [65,49,40,71,56,55,40]
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : [28,98,40,19,56,27,100]
      }
    ]
  }

  var ctx = document.getElementById("myChart").getContext("2d");
  var options = {
      //scaleShowLabels: false,
      //scaleShowGridLines: false,
      scaleLineColor : "rgba(0,0,0,0)",

  };
  new Chart(ctx).Line(data,options);