//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

.stats.dashboard
  .stat: .wrap
    .amount.large $ {{ revenue24h | number:2 }}
    .desc Earned today
  .stat: .wrap
    .amount.large ▲ {{ impressions24h | number }}
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ {{ clicks24h | number }}
    .desc Clicks today
  .stat: .wrap
    .amount.large $ {{ totalRevenue | number:2 }}
    .desc Total revenue

.index.dashboard
  .tutorials
    a(href=""): .tutorial
      img(src="http://placekitten.com/400/300")
      h2 Campaigns
      p Your eyes can deceive you. Don't trust them. Red Five standing by. She must have hidden the plans in the escape pod.
    a(href=""): .tutorial
      img(src="http://placekitten.com/400/300")
      h2 Ads
      p Your eyes can deceive you. Don't trust them. Red Five standing by. She must have hidden the plans in the escape pod.
    a(href=""): .tutorial
      img(src="http://placekitten.com/400/300")
      h2 Apps
      p Your eyes can deceive you. Don't trust them. Red Five standing by. She must have hidden the plans in the escape pod.

.index.dashboard#home-publisher
  a.switch-view(href="/home/advertiser") Switch to advertiser view

  .w50(ng-if="graph24hStats")
    h6.block.tcenter 24h Clicks &amp; Impressions
    div(analytics data="graph24hStats" width="340" height="150" type="line" legend="true" hover="true" hover="hoverFormatter")

  .w50(ng-if="graph24hRevenue")
    h6.block.tcenter 24h Revenue
    div(analytics data="graph24hRevenue" width="340" height="150" type="line" legend="true" hover="true" hover="hoverFormatter")

  .block(ng-if="graphLifetimeMetrics")
    h6.block.tcenter Lifetime Metrics
    div(analytics data="graphLifetimeMetrics" width="820" height="300" type="line" legend="true" hover="true" hover="hoverFormatter")

  .section Top Apps
  table.info
    thead: tr
      th
      th Impressions
      th Clicks
      th CTR
      th Earnings
    tbody
      tr(ng-repeat="app in apps | orderBy:'earnings':true | limitTo:10")
        td {{ app.name }}
        td {{ app.stats.impressions | number }}
        td {{ app.stats.clicks | number }}
        td {{ app.stats.ctr | number:2 }}%
        td $ {{ app.stats.earnings | number:2 }}
  div
    .section News
    ul.news
      li
        span.title We are live!
        span.date January 31th, 2014
        p
          | Adefy is now live and ready to serve you. Look around, get familiar with the platform and our 
          a(href="https://developer.adefy.com" target="_blank") Developer Center. 
          | If you need any assistance we will gladly help!
