//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

!!!
html(lang="en", data-ng-app="AdefyDashboard")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Dashboard

    meta(name="description", content="")
    meta(name="author", content="Spectrum IT")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

    script(src="/js/vendor/pace.min.js")

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src='/js/vendor/Chart.min.js')
    script(src='/js/vendor/chosen.jquery.min.js')

    link(rel="stylesheet", href="/css/vendor/pace-flash.css")

    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/vendor/chosen.min.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script|Source+Sans+Pro:200,300,400,600,700,900')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

    | <!--[if lt IE 9]>
    |   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->

  body(data-ng-controller="rootController")
    header.navbar.cf
      #logo Adefy
      .menu.left.full
        a(href="/home/publisher", tab)
          i.fa.fa-fw.fa-home
          | Dashboard
        a(href="/reports", tab)
          i.fa.fa-fw.fa-signal
          | Reports
        a(href="/campaigns", tab)
          i.fa.fa-fw.fa-bullhorn
          | Campaigns
        a(href="/ads", tab)
          i.fa.fa-fw.fa-sitemap
          | Ads
        a(href="/apps", tab)
          i.fa.fa-fw.fa-rocket
          | Apps

      .menu.right
        a(href="/funds", data-ng-bind="me.fundsText", tab)
        .da(dropdown, ng-click="toggleSelect()")
          i.fa.fa-fw.fa-cogs
          .dropdown(ng-show="isPopupVisible")
            a
              i.fa.fa-fw.fa-user
              | Admin
            a(href="/settings")
              i.fa.fa-fw.fa-wrench
              | Settings
            a
              i.fa.fa-fw.fa-question
              | Support
            a
              i.fa.fa-fw.fa-sign-out
              | Sign out

    .content(data-ng-view="")

    footer
      script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js")
      script(src="/js/vendor/angular-route.min.js")
      script(src="/js/vendor/angular-country-select.min.js")
      script(src="/socket.io/socket.io.js")

      script
        var socket = io.connect("", { secure: true });
        window.AdefyDashboard = angular.module("AdefyDashboard", ["ngRoute", "countrySelect"]);

      if locals.admin
        script(src="/client/dashboard/admin-config.js")
      script(src="/client/dashboard/normal-config.js")

      script(src="/client/dashboard/ctrl/root.js")
      script(src="/client/dashboard/ctrl/dashAdvertiser.js")
      script(src="/client/dashboard/ctrl/dashPublisher.js")
      script(src="/client/dashboard/ctrl/apps.js")
      script(src="/client/dashboard/ctrl/ads.js")
      script(src="/client/dashboard/ctrl/campaigns.js")
      script(src="/client/dashboard/ctrl/account/information.js")
      script(src="/client/dashboard/ctrl/account/billing.js")
      script(src="/client/dashboard/ctrl/account/funds.js")
      script(src="/client/dashboard/ctrl/account/feedback.js")

      script(src="/client/dashboard/modules/dropdown.js")
      script(src="/client/dashboard/modules/tab.js")

      if locals.admin
        script(src="/client/dashboard/ctrl/admin/home.js")
        script(src="/client/dashboard/ctrl/admin/invites.js")
        script(src="/client/dashboard/ctrl/admin/users.js")
        script(src="/client/dashboard/ctrl/admin/publishers.js")