form
  fieldset: dl.form.thin.center

    .field.w50
      label Enter Deposit Amount $
    .field.w50
      input.wide(type="number" placeholder="Amount" ng-model="formObject.amount" ng-keypress="enterSubmit($event)")
