//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

form.feedback
  select.w50(ui-select-2 ng-model="formCategory" data-placeholder="Select Category")
    option(value="")
    option(value="account") Account
    option(value="apps") Apps
    option(value="billing") Billing
    option(value="campaigns") Campaigns
    option(value="creatives") Creatives

  br
  br

  textarea(ng-model="formObject" placeholder="Enter message")
