form
  fieldset: dl.form.thin.center

    .field
      label NOTE: You must have at least $100 to initiate a withdrawal
    .field.w50
      label Ad Funds
      input(required type="radio" name="model" ng-change="formObject.fundModelChanged()" value="ad" ng-model="formObject.model" selected)
    .field.w50
      label Publisher Funds
      input(required type="radio" name="model" ng-change="formObject.fundModelChanged()" value="pub" ng-model="formObject.model")
    .field.w50
      label Available Funds
    .field.w50
      label ${{ formObject.availableFunds | number:2 }}
    .field.w50
      label Amount to withdraw $
    .field.w50
      input.wide(required type="number" placeholder="100" ng-model="formObject.amount" ng-keypress="enterSubmit($event)" min="100")
    .field.w50
      label Paypal Email to send payment
    .field.w50
      input.wide(required type="email" placeholder="john.smith@gmail.com" ng-model="formObject.alt_email" ng-keypress="enterSubmit($event)" name="email")
