$blue = #36a9e1
$dblue = #1e8fc6
$black = #222
$bbpurple = #6c7892
$bpurple = #474f60
$purple = #383e4b
$dpurple = #2d323d
$green = #9c0
$dgreen = #690
$red = #f44
$dred = #c00
$orange = #e67e22
$dorange = #d77218
$grey = #bdc3c7

.green
  color: $green
.red
  color: $red
