.tcenter
  text-align center

.tright
  text-align right

.fullw
  width 100%

.container
  width 960px margin 0 auto

.pull-right
  float right

.innter
  padding 0 8px

.notlinkhover
  cursor default

a
  text-decoration none

button, input, textarea
  font-family "Lato"

.buttonhover, .hoverablehover
  cursor hand cursor pointer

.inner
  padding 16px

.tricol
  width 33% display inline-block

h1, h2, h3, h4, h5, h6
  font-family "Oleo Script" serif

h1
  font-size 36px

h2
  font-size 32px

h3
  font-size 28px

h4
  font-size 25px

body
  background-color white
  color $purple
  padding-top 40px
  font-family "Lato"

html, body
  background transparent url(../img/pw_pattern.png) repeat

#content
  float left
  padding 16px

@import "global/functions"
@import "global/forms"
@import "global/navbar"
@import "global/controlbar"
@import "global/overlay"
@import "global/statusbar"
