@import "vendor/reset.css"
@import "vendor/bootstrap.min.css"
@import "vendor/fonts"
@import "vendor/pace-flash"
@import "colors"

@import "global"
@import "transitions"

@import "pages/admin"
@import "pages/dashboard"
@import "pages/login"
@import "pages/register"