.stacked-cards
  width 720px

.fullpage-card
  width 960px

.stacked-cards, .fullpage-card
  position relative
  background-color #eee
  padding 32px 0

  margin 0 auto

.stacked-cards .card-spacer
  font-size 36px
  font-weight 300
  color #aaa

  width 100%
  display block
  text-align center

  margin-bottom 32px

.card
  padding 16px 32px
  min-height 266px
  font-weight 300

  &.thin
    min-height 0

  margin 32px 0
  position relative
  background-color white
  overflow hidden

  box-shadow rgba(0, 0, 0, 0.047) 0px 2px 3px 0px

  &:hover
    box-shadow rgba(0, 0, 0, 0.15) 0px 2px 3px 0px

  .card-inner, .simple-inner
    width 100%

  &.with-preview .card-inner, &.with-preview .simple-inner
    width 75%

  .simple-inner
    padding 32px 0 32px 16px

    .title
      border-bottom 0
      margin-bottom 0
      padding-bottom 0

    .subtitle
      font-size 14px
      width 100%
      font-style italic
      color #666

  .icon
    width 128px
    position absolute
    right 32px
    bottom 46px

  .card-labels
    width 100%
    padding 8px 0

    .label:first-child
      margin-left 0

  .card-footer
    position absolute
    bottom 24px
    width 100%

    > *
      display inline-block
      vertical-align top

  .info
    display inline-block
    vertical-align top
    margin-bottom 16px
    width 50%

    &.fullw
      width 100%

      .info-detail input, textarea
        width 75%

    &.large
      .info-header
        margin-bottom 4px

    .info-header
      width 100%
      font-size 14px

    .info-detail
      width 100%
      font-size 18px

      input, textarea, p
        width 80%
        vertical-align top
        display block

      img
        width 30%

        &:first-child
          margin-top 8px

    &.large

      .info-header
        font-size 18px

      .info-detail
        font-size 24px

  table
    width 100%
    text-align left

    thead
      color #666

    tr
      border-bottom 1px solid #eee

      &.bold
        font-weight bold

    td
      padding 6px 0

      > .label:first-child
        margin-left 0

  &:not(.no-preview)
    .title i
      margin-right 16px 

  .title
    font-size 28px
    color #999
    width 100%

    padding-bottom 8px
    margin-bottom 16px
    border-bottom 1px solid #eee

    i
      float right
      margin-top 12px
      font-size 18px

      &.hoverable:hover
        cursor pointer

      &.left
        float left

      &::before
        padding-right 8px

      transition color 0.25s

      &:hover
        color #666

  .preview
    position absolute
    width 25%
    top 0
    right 0

// Split
.card.hanging-card
  margin-top -33px
  min-height 0
  text-align center
  font-size 18px
  color #666

  a
    color #666
    &:hover
      color #5897fb

  &.bright
    a
      color #2ecc71
      &:hover
        color #666

// Split this into a seperate .styl
.card.message
  padding-bottom 64px
  min-height 200px

  .title
    font-size 20px
    height 45px

    *
      display inline-block
      vertical-align middle

    .avatar, .name
      margin-right 16px

    .avatar
      width 36px
      height 36px

    .name
      color #666

    .position
      font-style italic
      font-size 16px
      color #aaa

    .proposal-header
      position absolute
      right 32px

  .sent
    font-style italic

  &.proposal
    .title
      width 75%
      position relative

    .info
      width 37.5%

    .card-footer
      width 75%

      .proposal-action
        position absolute
        right 64px

        button
          margin-left 8px

          &:hover
            cursor pointer

  &.reply

    .title
      .wrapper
        position absolute
        right 32px

      .avatar, .name
        margin-right 0
        margin-left 16px
