include menus/main

.stacked-cards

  a.new-card(form-modal template="/views/dashboard/ads:modals:new_export" title="New Export"
        ok-button-text="Create" form-submit="create()" form-object="exportForm" close="closeForm")
      i.fa.fa-bullhorn
      | Contact in Marketplace

  .card.no-preview
    .card-inner
      .title
        i.left.hoverable.fa.fa-star-o
        | Frontback

      .info
        .info-header Impressions last 30 days
        .info-detail.green 76,342

      .info
        .info-header Average CTR
        .info-detail 2.7%

      .info
        .info-header Links
        .info-detail
          a(href="http://frontback.me/" target="_blank") Homepage
          a(href="https://play.google.com/store/apps/details?id=com.checkthis.frontback" target="_blank") Google Play
          a(href="https://itunes.apple.com/us/app/frontback/id673566671?mt=8" target="_blank") App Store

      img.icon(src="https://lh5.ggpht.com/K0_PUk2hLuyOevvUUJsrxgackuhKXxciU68RCpD4-Pwu6Zurqt1y98zZsaknR6A05f4=w300-rw")

    .card-labels
      .label.green Active Campaigns

  .card.no-preview
    .card-inner
      .title Impressions

      .info
        .info-header Last 30 days
        .info-content.green 76,342

      .info
        .info-header Last 6 months
        .info-content 843,751

      div.noAxes(analytics data="null" width="656" height="300")

  .card.no-preview
    .card-inner
      .title CTR

      .info.large
        .info-header Lifetime average
        .info-content.green 2.7%

      div.noAxes(analytics data="null" width="656" height="300")
