include menus/main

.stacked-cards

  .card-spacer Featured - Our Picks

  a(href="/publishers/frontback" target="_blank"): .card: .card-inner
    .title
      i.left.hoverable.fa.fa-star-o
      | Frontback
      i.fa.fa-bar-chart-o Details

    .info.large
      .info-header Impressions last 30 days
      .info-detail.green 76,342

    .info.large
      .info-header Average CTR
      .info-detail 2.7%

    div.noAxes(analytics data="null" width="496" height="300")

    img.icon(src="https://lh5.ggpht.com/K0_PUk2hLuyOevvUUJsrxgackuhKXxciU68RCpD4-Pwu6Zurqt1y98zZsaknR6A05f4=w300-rw")

    .card-labels
      .label.green Active Campaigns

  a(href="/publishers/frontback" target="_blank"): .card: .card-inner
    .title
      i.left.hoverable.fa.fa-star-o
      | Frontback
      i.fa.fa-bar-chart-o Details

    .info.large
      .info-header Impressions last 30 days
      .info-detail.green 76,342

    .info.large
      .info-header Average CTR
      .info-detail 2.7%

    div.noAxes(analytics data="null" width="496" height="300")

    img.icon(src="https://lh5.ggpht.com/K0_PUk2hLuyOevvUUJsrxgackuhKXxciU68RCpD4-Pwu6Zurqt1y98zZsaknR6A05f4=w300-rw")

    .card-labels
      .label.green Active Campaigns

  a(href="/publishers/frontback" target="_blank"): .card: .card-inner
    .title
      i.left.hoverable.fa.fa-star-o
      | Frontback
      i.fa.fa-bar-chart-o Details

    .info.large
      .info-header Impressions last 30 days
      .info-detail.green 76,342

    .info.large
      .info-header Average CTR
      .info-detail 2.7%

    div.noAxes(analytics data="null" width="496" height="300")

    img.icon(src="https://lh5.ggpht.com/K0_PUk2hLuyOevvUUJsrxgackuhKXxciU68RCpD4-Pwu6Zurqt1y98zZsaknR6A05f4=w300-rw")

    .card-labels
      .label.green Active Campaigns
