//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Adefy Editor

    meta(name="description", content="")
    meta(name="author", content="Spectrum IT")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,500")
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")

    link(rel="stylesheet", href="https://cdn.adefy.com/aeditor/aeditor.css")

    base(href="/editor")

  body

    script window.ad = "#{locals.ad}";

    script(type="text/javascript", src="https://cdn.adefy.com/aeditor/aeditor.js")
