#page-ads.page
  ul#ads
    li.hoverable.ad-link(data-ng-repeat="ad in adlist", data-id="{{ $index }}")
      .ad-info
        h1
          | {{ ad.name }}
        h4 Created
          | {{ ad.created }}
        h4  | 
          | {{ ad.size }}
        hr
      img.ad-preview(src="/img/strawberease.png", height="400")
      .ad-optimal Optimal 
        | {{ ad.optimal }}
  #ad-view
    h1
      | {{ currentAd.name }}
