!!! 5
html(lang="en", data-ng-app="AdefyAdmin")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Adefy - Admin

    meta(name="description", content="")
    meta(name="author", content="Spectrum IT")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans|Lato|Roboto|Oleo+Script|")
    link(rel="stylesheet", href="/css/style.css")

  body#page-admin
    #sidebar
      h4 Admin Interface
      ul
        a(href="/admin/invites")
          li Invites
        a(href="/admin/users")
          li Users
      #sidebar-decorator

    #content(data-ng-view="")

    footer
      script(type="text/javascript", src="/js/vendor/zepto.js")
      script(type="text/javascript", src="/js/vendor/angular.js")
      script(type="text/javascript", src="/socket.io/socket.io.js")

      script(type="text/javascript", src="/client/admin/main.js")
      script(type="text/javascript", src="/client/admin/ctrl/home.js")
      script(type="text/javascript", src="/client/admin/ctrl/invites.js")
      script(type="text/javascript", src="/client/admin/ctrl/users.js")
