include menus/main

.cards

  a.new-card(form-modal template="/views/dashboard/ads:modals:new_creative" title="New Creative"
        ok-button-text="Create" form-submit="create()" form-object="creativeForm" close="closeForm")
      i.fa.fa-plus
      | New Creative

  .card(href="/creatives/skittles")
    .simple-inner

      .title Skittle Demo
      .subtitle Created yesterday

    img.preview(src="https://developer.adefy.com/demos/assets/skittles/thumb.jpg")

  .card(href="/creatives/watch")
    .simple-inner

      .title Watch Demo
      .subtitle Created yesterday

    img.preview(src="https://developer.adefy.com/demos/assets/watch/thumb.jpg")

  .card(href="/creatives/car")
    .simple-inner

      .title Car Demo
      .subtitle Created 3 day(s) ago

    img.preview(src="https://developer.adefy.com/demos/assets/car/thumb.jpg")
