include menus/main

.stacked-cards

  .card.no-preview(style="min-height: 266px")
    .card-inner
      .title
        | Angry Birds
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $5.00

      .info.large
        .info-header Impressions
        .info-content 100,000

      div.noAxes(analytics data="null" width="496" height="300")

      img.icon(src="https://lh6.ggpht.com/M9q_Zs_CRt2rbA41nTMhrPqiBxhUEUN8Z1f_mn9m89_TiHbIbUF8hjnc_zwevvLsRIJy=w300-rw")

  .card.no-preview(style="min-height: 266px")
    .card-inner
      .title
        | Frontback
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $5.00

      .info.large
        .info-header Impressions
        .info-content 100,000

      div.noAxes(analytics data="null" width="496" height="300")

      img.icon(src="https://lh5.ggpht.com/K0_PUk2hLuyOevvUUJsrxgackuhKXxciU68RCpD4-Pwu6Zurqt1y98zZsaknR6A05f4=w300-rw")

  .card.no-preview(style="min-height: 266px")
    .card-inner
      .title
        | Runtastic
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $5.00

      .info.large
        .info-header Impressions
        .info-content 100,000

      div.noAxes(analytics data="null" width="496" height="300")

      img.icon(src="https://lh6.ggpht.com/2Dhsy1-lah-YSEMLmqZ2HtUYXthw9mc8pQvu7eD_YLqramjelDvJfC0dyaUUFB5Lo1A=w300-rw")
