include menus/main

.grid-options
  a.new-item(form-modal template="/views/dashboard/ads:modals:new_creative" title="New Creative"
        ok-button-text="Create" form-submit="create()" form-object="creativeForm" close="closeForm")
      i.fa.fa-plus
      | New Creative

//- ul.creative-list
  .creative(href="#")
    li
      .nexus5
        .device
          .inner
          .sleep
          .volume
          .camera
          .top-bar
          .sensor
          .speaker
          .screen
            .name Awesome Creative 2
            .edit
              button Open in editor
          .bottom-bar
          .home

ul.grid.creative-list
  li.item.creative
    .name Skittle Demo
    .creative-stats
      .creative-stat 1 Exported Ad(s)
      .creative-stat 322kB
      br
      .creative-stat Created yesterday
    .preview(style="background: url('https://developer.adefy.com/demos/assets/skittles/thumb.jpg')")

  li.item.creative
    .name Watch Demo
    .creative-stats
      .creative-stat 1 Exported Ad(s)
      .creative-stat 234kB
      br
      .creative-stat Created yesterday
    .preview(style="background: url('https://developer.adefy.com/demos/assets/watch/thumb.jpg')")

  li.item.creative
    .name Car Demo
    .creative-stats
      .creative-stat 1 Exported Ad(s)
      .creative-stat 195kB
      br
      .creative-stat Created 3 days ago
    .preview(style="background: url('https://developer.adefy.com/demos/assets/car/thumb.jpg')")
