include menus/main

.stacked-cards
  a(href="/marketplace/skittles"): .card
    .card-inner
      .title
        | Frontback
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $4.50

      .info.large
        .info-header Target Impressions
        .info-content 50,000

      img.icon(src="https://lh5.ggpht.com/K0_PUk2hLuyOevvUUJsrxgackuhKXxciU68RCpD4-Pwu6Zurqt1y98zZsaknR6A05f4=w300-rw")

    .card-labels
      .label.green Active
