include menus/main

.stacked-cards

  .card.no-preview
    .card-inner
      .title Message Threads

      table
        thead
          tr
            th Publisher
            th Deals
            th Last Message
        tbody
          tr.bold
            td: a(href="#") 500px
            td: .label.gray pending
            td Today
          tr.bold
            td: a(href="#") car2go
            td: .label.gray pending
            td Today
          tr
            td: a(href="#") ASTRO File Manager
            td: .label.gray pending
            td 1 day ago
          tr
            td: a(href="#") ColorNote
            td: .label.gray pending
            td 2 days ago
          tr
            td: a(href="#") Frontback
            td: .label.green active
            td 2 weeks ago
          tr
            td: a(href="#") Al Jazeera
            td: .label.gray pending
            td 4 weeks ago
          tr
            td: a(href="#") Plants vs Zombies 2
            td
            td 4 weeks ago
          tr
            td: a(href="#") New York Times
            td
            td 1 month ago
          tr
            td: a(href="#") Plants vs Zombies 2
            td
            td 1 month ago
          tr
            td: a(href="#") Runtastic
            td
            td 1 month ago
