include menus/main

.stacked-cards
  a(href="/marketplace/500px"): .card
    .card-inner
      .title
        | 500px
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $3.80

      .info.large
        .info-header Target Impressions
        .info-content 150,000

      img.icon(src="https://lh5.ggpht.com/hUhOYWcVdQbM32W_L5plgA43gH89iLl6ZumPVNPmV84XbzNQy8H61vQgp9LP-UK0AcI=w300-rw")

    .card-labels
      .label.gray Pending

  a(href="/marketplace/500px"): .card
    .card-inner
      .title
        | Al Jazeera
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $2.80

      .info.large
        .info-header Target Impressions
        .info-content 1,400,000

      img.icon(src="https://lh3.ggpht.com/YBcUdX9lT7aTdUr_KnRKj5EnKbBMk-wv5SglFH0fndKU_3tVzw1Fl2qJLSBoMA6tBw=w300-rw")

    .card-labels
      .label.gray Pending

  a(href="/marketplace/500px"): .card
    .card-inner
      .title
        | car2go
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $3.20

      .info.large
        .info-header Target Impressions
        .info-content 400,000

      img.icon(src="https://lh6.ggpht.com/8mUlJ7XpAbinF7VAD9PW4iEaeSY6LxAb9gQ6Abz0pOEUUSzHffT3ih2wcREdQFQmgLyr=w300-rw")

    .card-labels
      .label.gray Pending

  a(href="/marketplace/500px"): .card
    .card-inner
      .title
        | ColorNote
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $2.40

      .info.large
        .info-header Target Impressions
        .info-content 200,000

      img.icon(src="https://lh3.ggpht.com/IDOtRhsZLSG3EFxWxmWREMPa42_SNQvl9-x4FBu5dn9aJMjpVtMx_GoNdnQwEIp_7gsV=w300-rw")

    .card-labels
      .label.gray Pending

  a(href="/marketplace/500px"): .card
    .card-inner
      .title
        | ASTRO File Manager
        i.fa.fa-bar-chart-o Details

      .info.large
        .info-header CPM
        .info-content.green $2.90

      .info.large
        .info-header Target Impressions
        .info-content 2,100,000

      img.icon(src="https://lh6.ggpht.com/CfBWLuOIdTkJV_IJP_51jfiGrdgWg74QUQJPDsPB7EySs0rTrzOgXmeNZxxjXIaLXwY=w300-rw")

    .card-labels
      .label.gray Pending

