.nav-header.three-cols: ul
  a(href="/creatives/skittles/exports" tab): li
    i.fa.fa-fw.fa-picture-o
    | Exports
  a(href="/creatives/skittles" tab): li
    i.fa.fa-fw.fa-list
    | Skittle Demo
  a(href="/tools/editor/example-creative" tab): li
    i.fa.fa-fw.fa-pencil
    | Open in Editor
