.nav-header.three-cols: ul
  a(href="/ads" tab): li
    i.fa.fa-fw.fa-mobile
    | Manage Ads
  a(href="/creatives" tab): li
    i.fa.fa-fw.fa-pencil
    | Manage Creatives
  a(href="/ads/reports" tab): li
    i.fa.fa-fw.fa-signal
    | Reports
