include ../menus/creative

.single-card
  .card(style="min-height: 266px")
    .card-inner
      .title Details

      .info
        .info-header Size
        .info-detail 115KB (Compressed)

      .info
        .info-header Created
        .info-detail Yesterday

    img.preview(src="https://developer.adefy.com/demos/assets/skittles/thumb.jpg")
