#page-adcreator
  #right-panel
    width 0
    position absolute
    right 0
    height 959px
    top 41px

    background-color $bbpurple

  #device
    background-color white

    /*
    zoom 0.75
    -moz-transform scale(0.75)
    -moz-transform-origin 0 0
    -o-transform scale(0.75)
    -o-transform-origin 0 0
    -webkit-transform scale(0.75)
    -webkit-transform-origin 0 0

    position absolute
    */

/* Overlay is outside of the page container */
#new-ad-form
  h1
    color white
    margin-bottom 8px