#page-admin
  color $white

  #sidebar, #content
    display inline-block
    vertical-align top
    float left

  #sidebar
    width 250px
    background-color $gray
    border-right 1px solid $lgray

    position fixed
    left 0
    top 0

    // Right edge highlight
    #sidebar-decorator
      position absolute
      top 0
      right -2px
      width 1px
      height 100%
      background-color $dgray

    // Title
    h4
      text-align center
      padding 16px

    // Actual links
    ul
      color $blue

      a
        padding 8px 16px
        display block

      a:hover
        background-color $dgray

      a:first-child
        margin-top 0

      a:last-child
        margin-bottom 0

  #content
    padding-left 252px
    float none
    display block

    #page-admin-users

      table
        width 100%
        background-color $gray
        font-size 12px

        thead tr td
          padding 8px 0
          font-size 14px

        tbody td
          padding 6px 0
          border-top 1px solid $lgray

        tbody tr:hover td
          background-color $dgray
          cursor pointer
          cursor hand

        td:first-child
          padding-left 8px

        td:last-child
          padding-right 8px