#page-ads
  #ads li

    display inline-block
    margin 0 16px
    padding 16px

    .ad-info
      text-align center

      hr
        border none
        border-bottom 1px solid $bbpurple

      h4
        font-size 12px
        font-family "Lato"
        display inline-block
        margin 0 8px 0 0
        font-weight 300

    .ad-optimal
      text-align center
      color $bbpurple
      font-size 12px
      margin-top 8px

    transition background-color 0.4s color 0.4s

  #ads li:hover

    background-color $bbpurple
    color white

  #ad-view
    display none