#content
  border-top 1px solid $lgray
  display block
  float none

.mainbar
  border-bottom 1px solid $dgray

button.edit, button.delete, button.create
  border 1px solid $lgray
  box-shadow 0 0 0 1px $dgray
  background-color transparent
  padding 2px 8px
  margin 0
  color $white

button:hover
  cursor hand
  cursor pointer

button.edit:hover
  background-color $blue

button.delete:hover
  background-color $red

button.create:hover
  background-color $green