{
	"appname": "Adefy-Cloud",
	"loglevel": 10,
	"mode": "development",

	"secret": "drlQSxdrlQSxA6yMne6AqzA6yMne6Aqz",
	"apikey": "wfOmVn4rjwfOmVn4rjzvXuEVPzvXuEVP",
	"admin": "cris.mihalache@spectrumit.eu",

	"modes": {
		"development": {
			"log-to-server": false,
			"catch-critical": false,
			"socket-log-level": 3,

			"secure": false,
			"port-http": 8080,
			"port-https": 8443,

			"domain": "localhost"
		},
		"staging": {
			"log-to-server": false,
			"catch-critical": false,
			"socket-log-level": 3,

			"secure": true,
			"port-http": 43342,
			"port-https": 43343,

			"domain": "staging.adefy.eu:43343"
		},
		"production": {
			"log-to-server": false,
			"catch-critical": true,
			"socket-log-level": 1,

			"secure": true,
			"port-http": 8080,
			"port-https": 8443,

			"domain": "app.adefy.eu"
		}
	},

	"logfile": "log",
	"snapshot": ".saved_state.json",

	"secure-key": "ssl/adefy.key",
	"secure-cert": "ssl/adefy.eu.crt",
	"secure-ca": "ssl/gd_bundle.crt",

	"db": {
		"user": "adefy_cloud",
		"pass": "GFtEA468aF73nYZh",
		"host": "localhost",
		"port": "27017",
		"db": "adefy_cloud"
	},

	"email": {
		"host": "mail.spectrumcoding.com",
		"port": "25",
		"domain": "spectrumcoding.com"
	}
}
