.stats.dashboard(ng-cloak)
  .stat: .wrap
    .amount.large ▲ {{ impressions24h | number }}
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ {{ clicks24h | number }}
    .desc Clicks today
  .stat: .wrap
    .amount.large {{ ctr24h | number:2 }}%
    .desc CTR today
  .stat: .wrap
    .amount.large {{ spent24h | currency:$ }}
    .desc Spent today

.fullpage-card
  .card.fullpage
    .title Dashboard

    .info.large
      .info-header 24h Clicks &amp; Impressions
      .info-details
        div(analytics data="graph24hStats" width="308" height="150" type="line" legend="true" hover="hoverFormatter")

    .info.large
      .info-header 24h Expenses
      .info-details
        div(analytics data="graph24hSpent" width="308" height="150" type="line" legend="true" hover="hoverFormatter")

    .info.fullw.large
      .info-header Lifetime Metrics
      .info-details
        div(analytics data="graphLifetimeMetrics" width="756" height="300" type="line" legend="true" hover="hoverFormatter")

    .info.fullw(ng-if="campaigns.length > 1")
      .info-header Top Campaigns
      .info-details(ng-cloak ng-table="campaignTableParams")
        tr(ng-repeat="campaign in $data" ng-show="!campaign.tutorial")
          td(data-title="'Campaign Name'" sortable="'name'")
            {{ campaign.name }}
          td(data-title="'Impressions'" sortable="'stats.impressions'")
            {{ campaign.stats.impressions | number }}
          td(data-title="'Clicks'" sortable="'stats.clicks'")
            {{ campaign.stats.clicks | number }}
          td(data-title="'CTR'" sortable="'stats.ctr'")
            {{ campaign.stats.ctr | number:2 }}%
          td(data-title="'Spent'" sortable="'stats.spent'")
            {{ campaign.stats.spent | currency:$ }}
