.stats.dashboard(ng-cloak)
  .stat: .wrap
    .amount.large {{ revenue24h | currency:$ }}
    .desc Earned today
  .stat: .wrap
    .amount.large ▲ {{ impressions24h | number }}
    .desc Impressions today
  .stat: .wrap
    .amount.large ▲ {{ clicks24h | number }}
    .desc Clicks today
  .stat: .wrap
    .amount.large {{ totalRevenue | currency:$ }}
    .desc Total revenue

.index.dashboard
//-   .tutorials
    a(href=""): .tutorial
      img(src="http://placekitten.com/400/300")
      h2 Campaigns
      p Your eyes can deceive you. Don't trust them. Red Five standing by. She must have hidden the plans in the escape pod.
    a(href=""): .tutorial
      img(src="http://placekitten.com/400/300")
      h2 Ads
      p Your eyes can deceive you. Don't trust them. Red Five standing by. She must have hidden the plans in the escape pod.
    a(href=""): .tutorial
      img(src="http://placekitten.com/400/300")
      h2 Apps
      p Your eyes can deceive you. Don't trust them. Red Five standing by. She must have hidden the plans in the escape pod.

.index.dashboard#home-publisher
  a.switch-view(href="/home/advertiser") Switch to advertiser view

  .w50(ng-if="graph24hStats")
    h6.block.tcenter 24h Clicks &amp; Impressions
    div(analytics data="graph24hStats" width="340" height="150" type="line" legend="true" hover="hoverFormatter")

  .w50(ng-if="graph24hRevenue")
    h6.block.tcenter 24h Revenue
    div(analytics data="graph24hRevenue" width="340" height="150" type="line" legend="true" hover="hoverFormatter")

  .block(ng-if="graphLifetimeMetrics")
    h6.block.tcenter Lifetime Metrics
    div(analytics data="graphLifetimeMetrics" width="820" height="300" type="line" legend="true" hover="hoverFormatter")

  .section Top Apps
  table.info(ng-cloak ng-table="appTableParams")
    tr(ng-repeat="app in $data" ng-show="!app.tutorial || (app.tutorial && me.tutorials.dashboard)")
      td(data-title="'App Name'" sortable="'name'")
        {{ app.name }}
      td(data-title="'Impressions'" sortable="'stats.impressions'")
        {{ app.stats.impressions | number }}
      td(data-title="'Clicks'" sortable="'stats.clicks'")
        {{ app.stats.clicks | number }}
      td(data-title="'CTR'" sortable="'stats.ctr'")
        {{ app.stats.ctr | number:2 }}%
      td(data-title="'Earnings'" sortable="'stats.earnings'")
        {{ app.stats.earnings | currency:$ }}

  //- div(ng-if="articles.length > 1")
    .section News
    ul.news
      li(ng-repeat="article in articles | orderBy:'date':true")
        a(href="/news/{{ article.id }}")
          span.title {{ article.title }}
        span.date {{ article.date | date:'MMMM dd, yyyy' }}
        //- span.time @ {{ article.date | date:'HH:mm:ss' }}
        p(ng-bind-html="article.markup")
