.stats.dashboard
  .stat: .wrap
    .amount.large ▲ {{ campaign.stats.impressions | number }}
    .desc Total Impressions
  .stat: .wrap
    .amount.large ▲ {{ campaign.stats.clicks | number }}
    .desc Total Clicks
  .stat: .wrap
    .amount.large {{ campaign.stats.ctr | number:2 }} %
    .desc Total CTR
  .stat: .wrap
    .amount.large $ {{ campaign.stats.spent | number:2 }}
    .desc Total Spent

.titlebar.cf.full(ng-controller="AdefyCampaignMenuController")
  .name(ng-bind="campaign.name")
  .menu.full
    a(ng-href="/campaigns/{{campaign.id}}" tab partial="false")
      i.fa.fa-fw.fa-signal
      | Metrics
    a(ng-href="/campaigns/{{campaign.id}}/edit" tab)
      i.fa.fa-fw.fa-wrench
      | Settings

  .toggle-wrap(style="float:right" ng-if="me.adFunds > 0")
    toggle-switch(method="activeToggled()" model="campaign.active")

  span(style="float:right" ng-if="me.adFunds == 0")
    .label.gray Upload Funds To Enable
