.titlebar.cf.full
  .name(ng-bind="campaign.name")
  .menu.full
    a(href="/campaigns/{{campaign.id}}")
      i.fa.fa-fw.fa-signal
      | Metrics
    a.active(href="/campaigns/{{campaign.id}}/edit")
      i.fa.fa-fw.fa-wrench
      | Settings

.inner: form(novalidate ng-class="{submitted: submitted}")
  fieldset: dl.form.center
    legend Ads
    dt
    dd
      select(chosen multiple ng-options="ad.id as ad.name for ad in ads" ng-model="campaign.ads" data-placeholder="Select Ads")
  fieldset: dl.form.center
    legend Bidding
    dt: label Daily Budget (optional)
    dd: input(ng-model="campaign.dailyBudget" type="number")
    dt
      label Bid System
      span What kind of a father would I be if I said no? Yes, except the Dave Matthews Band doesn't rock. Well, then good news! It's a suppository. Incidentally, you have a dime up your nose.
    dd
      select(chosen required ng-model="campaign.bidSystem")
        option(value="automatic") Automatic
        option(value="manual") Manual
    dt(ng-if="campaign.bidSystem == 'manual'"): label Bid
    dt(ng-if="campaign.bidSystem == 'automatic'"): label Max Bid
    dd(ng-if="campaign.pricing == 'CPM'"): input(ng-model="campaign.bid" required type="number" step="any" min="{{ min.cpm }}" placeholder="min {{ min.cpm | currency:$ }}")
    dd(ng-if="campaign.pricing == 'CPC'"): input(ng-model="campaign.bid" required type="number" step="any" min="{{ min.cpc }}" placeholder="min {{ min.cpc | currency:$ }}")
  fieldset: dl.form.center
    legend Targetting
    dl.form.center.single
      dt: label Geographical
      dd
        .radio
          input(type="radio" ng-model="campaign.geographicalTargetting" value="all" name="geographical_targetting" id="all_countries")
          label(for="all_countries") All Countries
        .radio
          input(type="radio" ng-model="campaign.geographicalTargetting" value="specific" name="geographical_targetting" id="specific_countries")
          label(for="specific_countries") Specific Countries
        country-select(chosen multiple ng-model="campaign.countries" ng-disabled="campaign.geographicalTargetting != 'specific'" data-placeholder="Select countries")
    dl.form.center.single
      dt: label Network
      dd
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" name="network_targetting" value="all" id="all_traffic")
          label(for="all_traffic") All Traffic
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" name="network_targetting" value="mobile" id="mobile_data_traffic")
          label(for="mobile_data_traffic") Mobile Data Traffic
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" name="network_targetting" value="wifi" id="wifi_traffic")
          label(for="wifi_traffic") Wifi Traffic
    dl.form.center.single
      dt: label Platform
      dd
        .radio
          input(type="radio" ng-model="campaign.platformTargetting" name="platform_targetting" value="all" id="all_platforms")
          label(for="all_platforms") All Platforms
        .radio
          input(type="radio" ng-model="campaign.platformTargetting" name="platform_targetting" value="specific" id="specific_platforms")
          label(for="specific_platforms") Specific Platforms
        select(chosen multiple ng-model="campaign.platforms" ng-disabled="campaign.platformTargetting != 'specific'" data-placeholder="Select platforms")
          option Austria
          option France
    dl.form.center.single
      dt: label Device
      dd
        .field.w50.margin
          .radio
            input(type="radio" ng-model="campaign.deviceTargetting" name="device_targetting" value="all" id="all_devices")
            label(for="all_devices") All Devices
          .radio
            input(type="radio" ng-model="campaign.deviceTargetting" name="device_targetting" value="specific" id="specific_devices")
            label(for="specific_devices") Specific Devices
          .radio
            input(type="radio" ng-model="campaign.deviceTargetting" name="device_targetting" value="exclude" id="exclude_devices")
            label(for="exclude_devices") Exclude Devices
          select(chosen multiple ng-model="campaign.devices" ng-disabled="campaign.deviceTargetting == 'all'" data-placeholder="Select devices")
            option Nexus 4
            option Galaxy S3
            option iPhone
        .field.w50
          .radio
            input(type="radio" ng-model="campaign.manufacturerTargetting" name="manufacturer_targetting" value="all" id="all_manufacturers")
            label(for="all_manufacturers") All Manufacturers
          .radio
            input(type="radio" ng-model="campaign.manufacturerTargetting" name="manufacturer_targetting" value="specific" id="specific_manufacturers")
            label(for="specific_manufacturers") Specific Manufacturers
          select(chosen multiple ng-model="campaign.manufacturers" ng-disabled="campaign.manufacturerTargetting != 'specific'" data-placeholder="Select manufacturers")
            option LG
            option HTC
            option Sony
    dl.form.center.single
      dt: label Scheduling
      dd
        .radio
          input(type="radio" ng-model="campaign.scheduling" value="no" name="scheduling" id="no_scheduling")
          label(for="no_scheduling") No Scheduling
        .radio
          input(type="radio" ng-model="campaign.scheduling" value="yes" name="scheduling" id="custom_scheduling")
          label(for="custom_scheduling") Custom Scheduling

  fieldset: dl.form.center
    legend Fine tunning

    div(ng-repeat="rule in campaign.rules" ng-form='targettingRule')
      select(chosen ng-options="ad.id as ad.name for ad in ads" ng-model="rule.ad")
      country-select(chosen multiple data-placeholder="anywhere" ng-model="rule.countries")
      select(chosen ng-model='rule.networkTargetting')
        option(value="all") on all traffic
        option(value="mobile") on mobile data traffic
        option(value="wifi") on wifi traffic

      select(chosen ng-model="rule.platformTargetting")
        option(value="all") on all platforms
        option(value="android") on Android
        option(value="iOS") on iOS

    button(ng-click="addRule()") Add new rule

    dl.form.center.single
      dt
      dd
        a.delete(form-modal template="/views/dashboard/campaigns:delete" title="Delete campaign"
          ok-button-text="Delete" form-submit="delete()" form-object="form") 
          | I want to delete the campaign
    dl.form.center
    dt
    dd: button.blue.save(ng-click="submit()") Save

    pre(ng-bind="campaign | json")