include _menu

.inner: form(novalidate ng-class="{ submitted: submitted }")
  fieldset: dl.form.center
    legend Basic Information

    dt: label Name
    dd: input(required ng-model="campaign.name" type="text")

    dt: label Description
    dd: textarea(ng-model="campaign.description")

    dt: label Category
    dd#categorySelect
      select(required ng-model="campaign.category" ng-options="c for c in categories")

  fieldset: dl.form.center
    legend Ads
    p Add existing creatives
    dt
    dd
      select(chosen multiple ng-options="ad as ad.name for ad in ads track by ad.id" ng-model="campaign.ads" data-placeholder="Select Ads")

  fieldset: dl.form.center
    legend Bidding
    dt: label Pricing Model
    dd
      select(chosen required ng-model="campaign.pricing" ng-options="o for o in pricingOptions")

    dt
      label Daily Budget $
      span(ng-if="campaign.dailyBudget && me.adFunds > 0") $ {{ campaign.dailyBudget | number:2 }} is enough for {{ me.adFunds / campaign.dailyBudget | number:2 }} days
    dd: input(ng-model="campaign.dailyBudget" min="{{ min.budget }}" type="number" placeholder="min {{ min.budget | currency:$ }}")

    dt: label Total Budget $ (Optional)
    dd: input(ng-model="campaign.totalBudget" type="number")

    dt
      label(ng-if="campaign.pricing == 'CPM'") Target CPM $
      label(ng-if="campaign.pricing == 'CPC'") Target CPC $
    dd
      input(required ng-if="campaign.pricing == 'CPM'" ng-model="campaign.bid" type="number" step="any" min="0")
      input(required ng-if="campaign.pricing == 'CPC'" ng-model="campaign.bid" type="number" step="any" min="0")

    dt
      label Bid System
      span Automatic bidding utilizes our smart bid client and values each impression uniquely, whereas manual bidding treats each impression identically.
    dd
      select(chosen required ng-model="campaign.bidSystem" ng-options="o for o in bidSysOptions")

    br
    br

    dt: label Start Date (Optional)
    dd: datepicker(ng-model="campaign.startDate")

    dt: label End Date (Optional)
    dd: datepicker(ng-model="campaign.endDate")

    div(ng-if="projectSpend()")
      br
      br

      dt: label Projected Spend
      dd: label ${{ projectSpend() | number:2 }}

  fieldset: dl.form.center
    legend Targetting
    //- p In this section the general targetting is configured. Later, per-ad fine-tuning is possible, which will override these settings.
    dl.form.center.single
      dt: label Network
      dd
        .radio
          input(type="radio" ng-model="campaign.networks" value="all" name="all_traffic")
          label(for="all_traffic") All Traffic
        .radio
          input(type="radio" ng-model="campaign.networks" value="mobile" name="mobile_data_traffic")
          label(for="mobile_data_traffic") Mobile Data Traffic
        .radio
          input(type="radio" ng-model="campaign.networks" value="wifi" name="wifi_traffic")
          label(for="wifi_traffic") Wifi Traffic
    dl.form.center.single
      dt
        label Geographical
        span By default, all countries are included and none are excluded
      dd
        input.countryInclude(ng-model="countriesInclude" data-placeholder="Include countries")
        br
        input.countryInclude(ng-model="countriesExclude" data-placeholder="Exclude countries")
    dl.form.center.single
      dt
        label Device
        span By default, all devices are included and none are excluded
      dd
        input.deviceInclude(ng-model="devicesInclude" data-placeholder="Include devices")
        br
        input.deviceInclude(ng-model="devicesExclude" data-placeholder="Exclude devices")

    a.delete(form-modal template="/views/dashboard/campaigns:delete" title="Delete campaign"
          ok-button-text="Delete" form-submit="delete()" form-object="form")
      | I want to delete the campaign

    button.blue.save.center(ng-click="submit()" ng-disabled="saveInProgress") Save
