include _menu

.inner: form(novalidate ng-class="{submitted: submitted}")
  fieldset: dl.form.center
    legend Ads
    p Ads are added to the campaign here.
    dt
    dd
      select(chosen multiple ng-options="ad.id as ad.name for ad in ads" ng-model="campaign.ads" data-placeholder="Select Ads")
  fieldset: dl.form.center
    legend Bidding
    dt: label Daily Budget (optional)
    dd: input(ng-model="campaign.dailyBudget" type="number")
    dt
      label Bid System
      span What kind of a father would I be if I said no? Yes, except the Dave Matthews Band doesn't rock. Well, then good news! It's a suppository. Incidentally, you have a dime up your nose.
    dd
      select(chosen required ng-model="campaign.bidSystem")
        option(value="automatic") Automatic
        option(value="manual") Manual
    dt(ng-if="campaign.bidSystem == 'manual'"): label Bid
    dt(ng-if="campaign.bidSystem == 'automatic'"): label Max Bid
    dd(ng-if="campaign.pricing == 'CPM'"): input(ng-model="campaign.bid" required type="number" step="any" min="{{ min.cpm }}" placeholder="min {{ min.cpm | currency:$ }}")
    dd(ng-if="campaign.pricing == 'CPC'"): input(ng-model="campaign.bid" required type="number" step="any" min="{{ min.cpc }}" placeholder="min {{ min.cpc | currency:$ }}")
  fieldset: dl.form.center
    legend Targetting
    p In this section the general targetting is configured. Later, per-ad fine-tuning is possible, which will override these settings.
    dl.form.center.single
      dt: label Geographical
      dd
        .radio
          input(type="radio" ng-model="campaign.geographicalTargetting" value="all")
          label(for="all_countries") All Countries
        .radio
          input(type="radio" ng-model="campaign.geographicalTargetting" value="specific")
          label(for="specific_countries") Specific Countries
        country-select(chosen multiple ng-model="campaign.countries" ng-disabled="campaign.geographicalTargetting != 'specific'" data-placeholder="Select countries")
    dl.form.center.single
      dt: label Network
      dd
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" value="all")
          label(for="all_traffic") All Traffic
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" value="mobile")
          label(for="mobile_data_traffic") Mobile Data Traffic
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" value="wifi")
          label(for="wifi_traffic") Wifi Traffic
    dl.form.center.single
      dt: label Platform
      dd
        .radio
          input(type="radio" ng-model="campaign.platformTargetting" value="all")
          label(for="all_platforms") All Platforms
        .radio
          input(type="radio" ng-model="campaign.platformTargetting" value="specific")
          label(for="specific_platforms") Specific Platforms
        select(chosen multiple ng-model="campaign.platforms" ng-disabled="campaign.platformTargetting != 'specific'" data-placeholder="Select platforms")
          option Austria
          option France
    dl.form.center.single
      dt: label Device
      dd
        .field.w50.margin
          .radio
            input(type="radio" ng-model="campaign.deviceTargetting" value="all")
            label(for="all_devices") All Devices
          .radio
            input(type="radio" ng-model="campaign.deviceTargetting" value="specific")
            label(for="specific_devices") Specific Devices
          .radio
            input(type="radio" ng-model="campaign.deviceTargetting" value="exclude")
            label(for="exclude_devices") Exclude Devices
          select(chosen multiple ng-model="campaign.devices" ng-disabled="campaign.deviceTargetting == 'all'" data-placeholder="Select devices")
            option Nexus 4
            option Galaxy S3
            option iPhone
        .field.w50
          .radio
            input(type="radio" ng-model="campaign.manufacturerTargetting" value="all")
            label(for="all_manufacturers") All Manufacturers
          .radio
            input(type="radio" ng-model="campaign.manufacturerTargetting" value="specific")
            label(for="specific_manufacturers") Specific Manufacturers
          select(chosen multiple ng-model="campaign.manufacturers" ng-disabled="campaign.manufacturerTargetting != 'specific'" data-placeholder="Select manufacturers")
            option LG
            option HTC
            option Sony
    dl.form.center.single
      dt: label Scheduling
      dd
        .radio
          input(type="radio" ng-model="campaign.scheduling" value="no" name="scheduling" id="no_scheduling")
          label(for="no_scheduling") No Scheduling
        .radio
          input(type="radio" ng-model="campaign.scheduling" value="yes" name="scheduling" id="custom_scheduling")
          label(for="custom_scheduling") Custom Scheduling

  fieldset: dl.form.center
    legend Fine tunning
    p Rules can be added, that modify the behavior of individual ads in the campaign.
    .rule(ng-repeat="rule in campaign.rules" ng-form='targettingRule')
      .field
        select(chosen ng-options="ad.id as ad.name for ad in ads" ng-model="rule.ad")
      .column
        label Geographical
        .radio
          input(type="radio" ng-model="rule.geographicalTargetting" value="all")
          label(for="all_countries") All Countries
        .radio
          input(type="radio" ng-model="rule.geographicalTargetting" value="specific")
          label(for="specific_countries") Specific Countries
        country-select(chosen multiple ng-model="rule.countries" ng-disabled="rule.geographicalTargetting != 'specific'" data-placeholder="Select countries")
      .column
        label Network
        .radio
          input(type="radio" ng-model="rule.networkTargetting" value="all")
          label(for="all_traffic") All Traffic
        .radio
          input(type="radio" ng-model="rule.networkTargetting" value="mobile")
          label(for="mobile_data_traffic") Mobile Data Traffic
        .radio
          input(type="radio" ng-model="rule.networkTargetting" value="wifi")
          label(for="wifi_traffic") Wifi Traffic
      .column
        label Platforms
        .radio
          input(type="radio" ng-model="rule.platformTargetting" value="all")
          label(for="all_platforms") All Platforms
        .radio
          input(type="radio" ng-model="rule.platformTargetting" value="specific")
          label(for="specific_platforms") Specific Platforms
        select(chosen multiple ng-model="rule.platforms" ng-disabled="rule.platformTargetting != 'specific'")
          option Austria
          option France
      .column
        label Devices
        .radio
          input(type="radio" ng-model="rule.deviceTargetting" value="all")
          label(for="all_devices") All Devices
        .radio
          input(type="radio" ng-model="rule.deviceTargetting" value="specific")
          label(for="specific_devices") Specific Devices
        .radio
          input(type="radio" ng-model="rule.deviceTargetting" value="exclude")
          label(for="exclude_devices") Exclude Devices
        select(chosen multiple ng-model="rule.devices" ng-disabled="rule.deviceTargetting == 'all'" data-placeholder="Select devices")
          option Nexus 4
          option Galaxy S3
          option iPhone
      .column
        label Manufacturers
        .radio
          input(type="radio" ng-model="rule.manufacturerTargetting" value="all")
          label(for="all_manufacturers") All Manufacturers
        .radio
          input(type="radio" ng-model="rule.manufacturerTargetting" value="specific")
          label(for="specific_manufacturers") Specific Manufacturers
        select(chosen multiple ng-model="rule.manufacturers" ng-disabled="rule.manufacturerTargetting != 'specific'" data-placeholder="Select manufacturers")
          option LG
          option HTC
          option Sony
      .column
        .radio
          input(type="radio" ng-model="rule.scheduling" value="no" name="scheduling" id="no_scheduling")
          label(for="no_scheduling") No Scheduling
        .radio
          input(type="radio" ng-model="rule.scheduling" value="yes" name="scheduling" id="custom_scheduling")
          label(for="custom_scheduling") Custom Scheduling

    button(ng-click="addRule()" style="margin: 7px") Add new rule

    hr
    a.delete(form-modal template="/views/dashboard/campaigns:delete" title="Delete campaign"
          ok-button-text="Delete" form-submit="delete()" form-object="form") 
      | I want to delete the campaign

    button.blue.save(ng-click="submit()") Save

    pre(ng-bind="campaign | json")