a.new-item(href="/campaigns/new")
  i.fa.fa-plus
  | New campaign
.grid
  a.item(ng-repeat="campaign in campaigns | orderBy:'ctr':true" ng-href="/campaigns/{{campaign.id}}")

    div.icon.noimage(ng-if="campaign.ads.length == 0")
    img.icon(ng-if="campaign.ads.length == 1" ng-src="{{ campaign.ads[0].data.creative.image }}")
    ul.icon.list(ng-if="campaign.ads.length > 1")
      li(ng-repeat="ad in campaign.ads")
        img(ng-src="{{ ad.data.creative.image }}")

    .name(ng-bind="campaign.name")
    .metrics(ng-if="campaign.graphData")
      div.noAxes(analytics data="campaign.graphData" width="335" height="200")
      .wrap: .text
        .amount.large {{ campaign.stats.ctr | number:2 }}%
        .desc CTR
    .stats
      .tab
        .amount {{ campaign.stats.clicks | number }}
        .desc Clicks
      .tab
        .amount {{ campaign.stats.impressions | number }}
        .desc Impressions

