a.new-item(href="/campaigns/new")
  i.fa.fa-plus
  | New campaign
.grid
  a.item(ng-repeat="campaign in campaigns" ng-href="/campaigns/{{campaign.id}}")
    img.icon(src="http://delfinamassun.files.wordpress.com/2011/09/light-grey-square.jpg")
    .name(ng-bind="campaign.name")
    .metrics
      div.noAxes(graph data="fakeData" width="335" height="200")
      .wrap: .text
        .amount.large {{ campaign.stats.ctr | number:2 }} %
        .desc Click-through rate
    .stats
      .tab
        .amount {{ campaign.stats.clicks | number }}
        .desc Clicks
      .tab
        .amount {{ campaign.stats.impressions | number }}
        .desc Impressions

