a.new-item(href="/campaigns/new")
  i.fa.fa-plus
  | New campaign
.grid
  a.item(ng-repeat="campaign in campaigns" ng-href="/campaigns/{{campaign.id}}")
    img.icon(src="http://delfinamassun.files.wordpress.com/2011/09/light-grey-square.jpg")
    .name(ng-bind="campaign.name")
    .metrics
      canvas(linechart, options="options", data="campaign.chart", width="340", height="200")
      .wrap: .text 
        .amount.large {{ campaign.ctr | number:2 }} %
        .desc Click-trough rate
    .stats
      .tab
        .amount {{ campaign.clicks | number }}
        .desc Clicks
      .tab
        .amount {{ campaign.impressions | number }}
        .desc Impressions

