.grid-options
  a.new-item(href="/campaigns/new")
    i.fa.fa-plus
    | New campaign

  .sort(ng-if="campaigns.length > 2")
    p Sorting
    i.fa.fa-caret-down(ng-click="sort.direction = false" ng-if="sort.direction")
    i.fa.fa-caret-up(ng-click="sort.direction = true" ng-if="!sort.direction")
    select(ui-select2 ng-model="sort.metric")
      option(value="stats.ctr") CTR
      option(value="name") Name
      option(value="stats.impressions") Impressions

.contents.w920.center(ng-if="campaigns == null || campaigns.length == 0")
  h2.loading Loading Campaigns

.grid
  a.item(ng-repeat="campaign in campaigns | orderBy:sort.metric:sort.direction" ng-href="/campaigns/{{campaign.id}}" data-id="{{ campaign.id }}" ng-class="{ tutorial: campaign.tutorial }" ng-show="!campaign.tutorial || (campaign.tutorial && me.tutorials.campaigns)")

    campaign-icon(campaign="campaign")

    .name(ng-bind="campaign.name")
    .label.active(ng-class="campaign.active?'blue':'red'") {{ campaign.active ? "Active" : "Disabled" }}
    .label.blue(ng-if="campaign.tutorial") Example

    .metrics(ng-if="campaign.graphData")
      div.noAxes(analytics data="campaign.graphData" width="335" height="200")
      .wrap: .text
        .amount.large {{ campaign.stats.ctr | number:2 }}%
        .desc CTR
    .stats
      .tab
        .amount {{ campaign.stats.clicks | number }}
        .desc Clicks
      .tab
        .amount {{ campaign.stats.impressions | number }}
        .desc Impressions

