.inner: form(novalidate ng-class="{submitted: submitted}")
  fieldset: dl.form.center
    legend Information
    dt
      label Name
    dd: input(required ng-model="campaign.name" type="text")
    dt: label Description (optional)
    dd: textarea(ng-model="campaign.description")
    dt: label Category
    dd
      select(chosen required ng-model="campaign.category", ng-options="c for c in categories")
  fieldset: dl.form.center
    legend Bidding
    dt
      label Pricing
      span You, a bobsleder!? That I'd like to see! Noooooo! 
    dd
      select(chosen required ng-model="campaign.pricing")
        option CPM
        option CPC
    dt: label Total Budget
    dd: input(required ng-model="campaign.totalBudget" type="number" min="{{min.budget}}" placeholder="min {{ min.budget | currency:$ }}")
    dt: label Daily Budget (optional)
    dd: input(ng-model="campaign.dailyBudget" min="0" type="number")
    dt
      label Bid System
      span What kind of a father would I be if I said no? Yes, except the Dave Matthews Band doesn't rock. Well, then good news! It's a suppository. Incidentally, you have a dime up your nose.
    dd
      select(chosen required ng-model="campaign.bidSystem")
        option(value="automatic") Automatic
        option(value="manual") Manual
    dt(ng-if="campaign.bidSystem == 'manual'"): label Bid
    dt(ng-if="campaign.bidSystem == 'automatic'"): label Max Bid
    dd(ng-if="campaign.pricing == 'CPM'"): input(ng-model="campaign.bid" required type="number" step="any" min="{{ min.cpm }}" placeholder="min {{ min.cpm | currency:$ }}")
    dd(ng-if="campaign.pricing == 'CPC'"): input(ng-model="campaign.bid" required type="number" step="any" min="{{ min.cpc }}" placeholder="min {{ min.cpc | currency:$ }}")
    dt: label CTR Goal
    dd: input(type="number" step="any" min="0.0" max="100.0" ng-model="campaign.CTRGoal")
  fieldset: dl.form.center
    legend Targetting
    dl.form.center.single
      dt: label Geographical
      dd
        .radio
          input(type="radio" ng-model="campaign.geographicalTargetting" value="all" name="geographical_targetting" id="all_countries")
          label(for="all_countries") All Countries
        .radio
          input(type="radio" ng-model="campaign.geographicalTargetting" value="specific" name="geographical_targetting" id="specific_countries")
          label(for="specific_countries") Specific Countries
        country-select(chosen multiple ng-model="campaign.countries" ng-disabled="campaign.geographicalTargetting != 'specific'" data-placeholder="Select countries")
    dl.form.center.single
      dt: label Network
      dd
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" name="network_targetting" value="all" id="all_traffic")
          label(for="all_traffic") All Traffic
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" name="network_targetting" value="mobile" id="mobile_data_traffic")
          label(for="mobile_data_traffic") Mobile Data Traffic
        .radio
          input(type="radio" ng-model="campaign.networkTargetting" name="network_targetting" value="wifi" id="wifi_traffic")
          label(for="wifi_traffic") Wifi Traffic
    dl.form.center.single
      dt: label Platform
      dd
        .radio
          input(type="radio" ng-model="campaign.platformTargetting" name="platform_targetting" value="all" id="all_platforms")
          label(for="all_platforms") All Platforms
        .radio
          input(type="radio" ng-model="campaign.platformTargetting" name="platform_targetting" value="specific" id="specific_platforms")
          label(for="specific_platforms") Specific Platforms
        select(chosen multiple ng-model="campaign.platforms" ng-disabled="campaign.platformTargetting != 'specific'" data-placeholder="Select platforms")
          option Austria
          option France
    dl.form.center.single
      dt: label Device
      dd
        .radio
          input(type="radio" ng-model="campaign.deviceTargetting" name="device_targetting" value="all" id="all_devices")
          label(for="all_devices") All Devices
        .radio
          input(type="radio" ng-model="campaign.deviceTargetting" name="device_targetting" value="specific" id="specific_devices")
          label(for="specific_devices") Specific Devices
        .radio
          input(type="radio" ng-model="campaign.deviceTargetting" name="device_targetting" value="exclude" id="exclude_devices")
          label(for="exclude_devices") Exclude Devices
        select(chosen multiple ng-model="campaign.devices" ng-disabled="campaign.deviceTargetting == 'all'" data-placeholder="Select devices")
          option Nexus 4
          option Galaxy S3
          option iPhone

    dl.form.center
    dt
    dd: button.blue.save(ng-click="submit()") Save
