include _menu

.contents.w920.center
  .stats.campaign
    .stat: .wrap
      .amount.large ▲ {{ campaign.stats.impressions24h | number:2 }}
      .desc Impressions Today
    .stat: .wrap
      .amount.large ▲ {{ campaign.stats.clicks24h | number:2 }}
      .desc Clicks Today
    .stat: .wrap
      .amount.large {{ campaign.stats.ctr24h | number:2 }} %
      .desc CTR Today
    .stat: .wrap
      .amount.large $ {{ campaign.stats.spent24h | number:2 }}
      .desc Spent Today

.graphs#campaign-show
  .graph
    .w50
      h3 24h Stats

    .w50
      .block
        .w50.contents-right
          label(for="interval") Graph Interval:
        .w50.contents-left
          select(chosen name="interval" ng-model="graphInterval" ng-options="i.val as i.name for i in intervalOptions")

      .block
        .w50.contents-right
          label(for="sum") Sum:
        .w50.contents-left
          input(type="checkbox" name="sum" ng-model="graphSum")

    div(analytics data="graphData" width="840" height="350" type="line" hover="hoverFormatter" legend="true" done="graphDone" refresh="graphRefresh")
